<tr rel="<%= presence.id %>">
    <td>
        <%= link_to "<span class='social-#{presence.site.parameterize} presence-icon'></span> #{presence.site}".html_safe, presence.url, :target => "_blank" %><br>
        <strong>Account</strong>: <%= presence.account %>
        <% unless hide_contact %>
            <em>Contact: <%= link_to presence.contact.family_name, contact_path(presence.contact_id) %></em>
        <% end %>
    </td>   
    <td class="actions">
        <div class="btn-group pull-right">
            <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to edit_button, edit_presence_path(presence, contact_id: presence.contact_id), id: "edit-presence-#{presence.id}"%>
                </li>
                <li class="divider"></li>
                <li>
                    <%= link_to delete_button, presence_path(presence), method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-presence-#{presence.id}" %>
                </li>
                <% unless hide_contact %>
                    <li class="divider"></li>
                    <li>
                        <%= link_to contact_button, contact_path(presence.contact_id), id: "view-contact-#{presence.contact_id}" %>
                    </li>
                <% end %>
            </ul>
        </div> 
    </td>
</tr>