<%= form_for([@note]) do |f| %>
  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :contact_id, "Contact" %>
        <%= f.select :contact_id, form_select, {}, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1">
      <div class="form-group">
        <%= f.label :note, "Note" %>
        <%= f.text_area :note, id: "note", class: 'form-control', :rows => 10  %>
      </div>
    </div>

    <div class="col-md-1"></div>
    <div class="clear"></div>

  </div>

  <div class="row">

    <div class="col-md-12 text-center">
      <hr>
      <% if form_type == 'add' %>
        <%= f.submit :id => "Add Note", :class => "btn btn-large btn-success" %>
      <% else %>
        <%= f.submit :id => "Update Note", :class => "btn btn-large btn-success" %>
      <% end %>
    </div>

  </div>
<% end %>