<div class="span2 offset5">
	<br/><br/>
		<%= form_for([@note]) do |f| %>
				<%= f.label :contact_id, "Contact"%>
				<%= f.select(:contact_id, form_select) %><br/><br/>
				<%= f.label :note, "Note" %>
				<%= f.text_area :note, :rows => 10 %><br/><br/>
				<%= f.submit :class => "btn btn-large btn-success pull-right" %><br/>
		<% end %>
		<br/><br/>
</div>
<div class="clear"></div>