<%= form_for([@note]) do |f| %>
    <div class="row-fluid">
        <div class="span3">
            <div class="control-group">
              <%= f.label :contact_id, "Contact", class: 'control-label' %>
              <div class="controls">
                  <%= f.select :contact_id, form_select, {}, class: 'input-block-level' %>
              </div>
            </div>
        </div> <!-- span3 -->

        <div class="span7 offset1">
          <div class="control-group">
            <%= f.label :note, "Note", class: 'control-label' %>
            <div class="controls">
                <%= f.text_area :note, id: "note", class: 'input-block-level', :rows => 10  %>
            </div>
          </div>

        </div> <!-- span3 -->

        <div class="span1"></div>
        <div class="clear"></div>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
        <div class="span12 text-center">
            <hr>
            <% if form_type == 'add' %>
                <%= f.submit :id => "Add Note", :class => "btn btn-large btn-success" %>
            <% else %>
                <%= f.submit :id => "Update Note", :class => "btn btn-large btn-success" %>
            <% end %>
        </div>
    </div>
<% end %>