<div class="span2 center_div">
	<br/><br/>
		<%= form_for([@task]) do |f| %>
			<%= f.label :contact_id, "Contact"%>
			<%= f.select(:contact_id, form_select) %><br/><br/>
			<%= f.label :task, "Task" %>
			<%= f.text_field :task %><br/><br/>
			<%= f.label :due_date, "Due Date" %>
			<%= f.text_field :due_date, :class => "due_date_field date_select" %><br/><br/>
			<%= f.label :category, "Category"%>
			<%= f.select :category, Task::CATEGORY, :include_blank => true %><br/><br/>
			<%= f.label :completed %>
			<%= f.check_box :completed, :class => "Completed" %><br/><br/>
			<%= f.submit :class => "btn btn-large btn-success pull-right"%>
		<% end %>
		<br/><br/><br/><br/>
</div>

<div class="clear"></div>