<% if @tasks_overdue.present? %>
	<div class="span4">
		<div class="widget">
		  <!-- Widget head -->
			<div class="widget-head">
		  	<div class="pull-left">
		  		Overdue tasks
		  	</div>
		  	<div class="widget-icons pull-right">
		    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
		    </div>  
		    <div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<table class="table index table-bordered table-hover table-striped">
					<% @tasks_overdue.each do |overdue| %>
						<tr rel="<%= overdue.id %>" >
							<td>
								<%= check_box_tag "#{overdue.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(overdue), remote: true, :class => "completed_button #{overdue.id} hidden" %>
								<%= link_to summary_name_helper(overdue), contact_path(overdue.contact_id) %>
								<span class="slash">/</span> 
								<%= overdue.task %>
								<span class="slash">/</span> 
								<%= overdue.due_date.strftime('%m/%d') %>

								<%= link_to "View", contact_path(overdue.contact_id), :class => "btn btn-small btn-info pull-right" %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
<% end %>



<% if @tasks_within_week_range.present? %>
	<div class="span4">
		<div class="widget">
		  <!-- Widget head -->
			<div class="widget-head">
		  	<div class="pull-left">
		  		Remaining tasks (1 week)
		  	</div>
		  	<div class="widget-icons pull-right">
		    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
		    </div>  
		    <div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<table class="table index table-bordered table-hover table-striped">
					<% @tasks_within_week_range.each do |weekly_tasks| %>
						<tr rel="<%= weekly_tasks.id %>" >
							<td>
								<%= check_box_tag "#{weekly_tasks.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(weekly_tasks), remote: true, :class => "completed_button #{weekly_tasks.id} hidden" %>
								<%= link_to summary_name_helper(weekly_tasks), contact_path(weekly_tasks.contact_id) %>
								<span class="slash">/</span> 
								<%= weekly_tasks.task %>
								<span class="slash">/</span> 
								<%= weekly_tasks.due_date.strftime('%m/%d') %>

								<%= link_to "View", contact_path(weekly_tasks.contact_id), :class => "btn btn-small btn-info pull-right" %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
<% end %>


<% if @tasks_this_month.present? %>
	<div class="span4">
		<div class="widget">
		  <!-- Widget head -->
			<div class="widget-head">
		  	<div class="pull-left">
		  		Remaining tasks (4 weeks)
		  	</div>
		  	<div class="widget-icons pull-right">
		    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
		    </div>  
		    <div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<table class="table index table-bordered table-hover table-striped">
					<% @tasks_this_month.each do |monthly_tasks| %>
							<tr rel="<%= monthly_tasks.id %>" >
								<td>
									<%= check_box_tag "#{monthly_tasks.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(monthly_tasks), remote: true, :class => "completed_button #{monthly_tasks.id} hidden" %>
									<%= link_to summary_name_helper(monthly_tasks), contact_path(monthly_tasks.contact_id) %>
									<span class="slash">/</span> 
									<%= monthly_tasks.task %>
									<span class="slash">/</span> 
									<%= monthly_tasks.due_date.strftime('%m/%d') %>

									<%= link_to "View", contact_path(monthly_tasks.contact_id), :class => "btn btn-small btn-info pull-right" %>
								</td>
							</tr>
						<% end %>
				</table>
			</div>
		</div>
	</div>
<% end %>
<div class="clear"></div>
