<% content_for :header do %>
<h2 class="pull-left"><i class="icon-tasks"></i> Tasks</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Tasks", tasks_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">

<% end %>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 text-right">
                <%= link_to 'Add New Task', new_task_path, :class => "btn btn-primary" %>
                <div class="clear"></div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="span8">
                <!-- incomplete tasks begin -->
                <%= render  :layout => 'shared/widget', :locals => { :title => 'Incomplete Tasks (Check to Complete)' } do %>
                    <% if @tasks.present? %>
                        <table class="table table-hover" id="tasks">
                            <thead>
                                <th>Complete</th>
                                <th>Task</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <%= render :partial => 'tasks/task', :collection => @tasks, :locals => {:hide_contact => false} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No tasks available.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to "Add New Task", new_task_path, :class => "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>
                <!-- incomplete tasks end -->
            </div>

            <div class="span4">

                <%= render  :layout => 'shared/widget', :locals => { title: 'Filter Tasks' } do %>
                    <div class="padd text-center">
                        <div class="btn-group">
                            <%= link_to "Incomplete Tasks", tasks_path(filter_type: 'incomplete_tasks'), class: 'btn', id: 'incomplete-button' %>
                            <%= link_to "Overdue Tasks", tasks_path(filter_type: 'overdue_tasks'), class: 'btn', id: 'overdue-button' %>
                            <%= link_to "Completed Tasks", tasks_path(filter_type: 'completed_tasks'), class: 'btn', id: 'completed-button' %>
                        </div>
                    </div>
                    <div class="widget-foot text-right">
                        <%= link_to "Clear", tasks_path, class: 'btn btn-info' %>
                    </div>
                <% end %>

                <%= render  :layout => 'shared/widget', :locals => { title: 'Stats' } do %>
                    <div class="padd text-center">
                        <div id="tasks-summary-wiget" class="widget-chart"></div>
                    </div>
                    <div class="widget-foot text-right tasks-total-widget">
                    </div>
                <% end %>

            </div>
            <div class="clear"></div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <%= paginate @tasks, :theme => 'twitter-bootstrap' %>
            </div>
        </div>
    </div>

</div><!-- matter -->
<% content_for :additional_js do %>
    <script type="text/javascript">
        $(document).ready(function() {
            <% unless params[:filter_type].blank? %>
                <% if params[:filter_type] == 'incomplete_tasks' %>
                    $('a#incomplete-button').addClass('btn-primary');
                <% elsif params[:filter_type] == 'overdue_tasks' %>
                    $('a#overdue-button').addClass('btn-primary');
                 <% elsif params[:filter_type] == 'completed_tasks' %>
                    $('a#completed-button').addClass('btn-primary');
                <% end %>
            <% end %>
            tasksSummaryWidget(<%=raw widget_tasks_summary_data %>);
        });
    </script>
<% end %>
