<div class="row-fluid">
	
	<div class="span3">
		<%= render "tasks/task_summary" %>
	</div>
	
	<div class="span9">
		<h1>All Tasks</h1><br/>
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary pull-right" %>
		<br/>
		<%= paginate @task %>
		<br/>
		<table class="table table-striped table-bordered">
			<thead>
				<th>Complete</th>
				<th>Contact</th>
				<th><%= sortable "completed", "Status" %></th>
				<th><%= sortable "task" %></th>
				<th><%= sortable "due_date", "Date (mm/dd/yyyy)" %></th>
				<th><%= sortable "category" %></th>
				<th>Action</th>		
			</thead>
		<% @task.each do |task| %>
			<tr rel="<%= task.id %>" >
				<td><%= check_box_tag "#{task.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(task), remote: true, :class => "completed_button #{task.id} hidden" %>Check to complete</td>
				<td><%= link_to first_name(task), contact_path(task.contact_id) %></td>
				<td class="task_status"><%= status(task.completed) %></td>
				<td><%= task.task %></td>
				<td><%= task.due_date.strftime('%m/%d/%Y') %></td>
				<td><%= task.category %></td>
				<td class="text_center"><%= link_to edit_button, edit_task_path(task, contact_id: task.contact_id), :class => "btn btn-success btn-small" %> <%= link_to delete_button, task_path(task), :method => :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-danger btn-small" %> <%= link_to contact_button, contact_path(task.contact_id), :class => "btn btn-small btn-info" %></td>
			</tr>
		<% end %>	
		</table>
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @task %>
	</div>
</div>
