<% content_for :header do %>
<h2 class="pull-left"><i class="icon-tasks"></i> Tasks</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Tasks", tasks_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">

<% end %>
	
<div class="container-fluid">
	<div class="row-fluid">
	<div class="span12">
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary pull-right" %>
		<div class="clear"></div>
		<div class="widget">

			<div class="widget-head">
				<div class="pull-left">
					New Contacts
				</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				</div>
				<div class="clearfix"></div>
			</div>

			<table class="table index table-bordered table-hover table-striped", id="tasks">
				<thead>
					<th>Complete</th>
					<th>Contact</th>
					<th><%= sortable "completed", "Status" %></th>
					<th><%= sortable "task" %></th>
					<th><%= sortable "due_date", "Date (mm/dd/yyyy)" %></th>
					<th><%= sortable "category" %></th>
					<th>Action</th>		
				</thead>
				<%= render @task %>
			</table>
		</div><!-- widget -->
		<br/>
		
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @task, :theme => 'twitter-bootstrap' %>
	</div>
	<div class="clear"></div>
</div>
</div>

</div><!-- matter -->
