<% content_for :header do %>
<h2 class="pull-left"><i class="icon-tasks"></i> Tasks</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Tasks", tasks_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">

<% end %>
	
<div class="container-fluid">
	<div class="row-fluid">

	<div class="span12">
		
		<%= render "tasks/task_summary" %>

		<br/>
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary pull-right" %>
		<div class="clear"></div>
		<div class="widget">

			<div class="widget-head">
				<div class="pull-left">
					New Contacts
				</div>
				<div class="widget-icons pull-right">
					<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="widget-content">
				<table class="table index table-hover table-striped", id="tasks">
					<thead>
						<th>
							Complete
							<span class="slash">/</span> 
							Contact
							<span class="slash">/</span> 
							<%= sortable "completed", "Status" %>
							<span class="slash">/</span> 
							<%= sortable "task" %>
							<span class="slash">/</span> 
							<%= sortable "due_date", "Date (mm/dd/yyyy)" %>
							<span class="slash">/</span> 
							<%= sortable "category" %>
						</th>
						<th>
							<span class="pull-right">Action</span>
						</th>
					</thead>
					<%= render @task %>
				</table>
			</div>
		</div><!-- widget -->
		<br/>
		
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @task, :theme => 'twitter-bootstrap' %>
		<br/>
		<br/>
	</div>
	<div class="clear"></div>
</div>
</div>

</div><!-- matter -->
