<% content_for :header do %>
<h2 class="pull-left"><i class="icon-tasks"></i> New Task</h2>
    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Tasks", tasks_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "New Task", new_task_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>
<div class="matter">
<% end %>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <%= render  layout: 'shared/widget', locals: { title: "Add New Task" } do %>
                    <div class="padd"><%= render partial: 'form', locals: { form_type: 'add'} %></div>
                    
                    <div class="widget-foot text-right">
                    </div>
                <% end %>
            </div>
        </div>

    </div>
</div> <!-- matter -->
