<%= form_for([@number]) do |f| %>
  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :contact_id, "Contact" %>
        <%= f.select :contact_id, form_select, {}, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <%= f.label :phone_type, "Type of Number" %>
        <%= f.select :phone_type, Number::TYPES, {}, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <%= f.label :number, "Phone Number" %>
        <%= f.text_field :number, id: "number", class: 'form-control'  %>
      </div>
    </div>

    <div class="col-md-1"></div>
    <div class="clear"></div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :note, "Note" %>
        <%= f.text_field :note, id: "note", class: 'form-control'  %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1"></div>

    <div class="col-md-3 col-md-offset-1"></div>

    <div class="col-md-1"></div>
    <div class="clear"></div>

  </div>

  <div class="row">

    <div class="col-md-12 text-center">
      <hr>
      <% if form_type == 'add' %>
        <%= f.submit :id => "Add Phone Number", :class => "btn btn-large btn-success" %>
      <% else %>
        <%= f.submit :id => "Update Phone Number", :class => "btn btn-large btn-success" %>
      <% end %>
    </div>

  </div>
<% end %>