<tr rel="<%= number.id %>" >
    <td><strong><%= number.phone_type %></strong>: <%= number_to_phone(number.number, :area_code => true, :delimiter => " ") %><br>
        <em><%= number.note %></em>
    </td>   
    <td class="">
        <div class="btn-group pull-right">
            <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to edit_button, edit_number_path(number, contact_id: number.contact_id) %>
                </li>
                <li class="divider"></li>
                <li>
                    <%= link_to delete_button, number_path(number), :method => :delete, data: { confirm: 'Are you sure?'}%>
                </li>
            </ul>
        </div> 
    </td>
</tr>