<% if @message.present? %>
<div class="message">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <div class="support_state_message">
  </div>
</div>
<% end %>
<div class="btn-group">
  <%= state_quick_edit(@contact, @state, "initial", @state.initial) %>
  <%= state_quick_edit(@contact, @state, "letter_sent", @state.letter_sent) %>
  <%= state_quick_edit(@contact, @state, "contacting", @state.contacting) %>
  <%= state_quick_edit(@contact, @state, "seen_presentation", @state.seen_presentation) %>
  <%= state_quick_edit(@contact, @state, "following_up", @state.following_up) %>
  <%= state_quick_edit(@contact, @state, "no_response", @state.no_response) %>
  <%= state_quick_edit(@contact, @state, "not_giving", @state.not_giving) %>
  <%= state_quick_edit(@contact, @state, "one_time_gift", @state.one_time_gift) %>
  <%= state_quick_edit(@contact, @state, "monthly_gift", @state.monthly_gift) %>
</div>
<%= "Letter sent on: #{@contact.support_state.letter_sent_on.strftime('%m/%d/%Y')}" if @state.letter_sent_on.present? %> 
<%= "Presented on: #{@contact.support_state.presented_on.strftime('%m/%d/%Y')}" if @state.presented_on.present? %>

<%= link_to "Edit Donation Status", edit_contact_support_state_path(@contact, @state) %>