<% if @contact.support_state.present? %>

<%= @contact.support_state.presented_on.strftime('%m/%d/%Y') if @contact.support_state.presented_on.present? %>
<%= @contact.support_state.letter_sent_on.strftime('%m/%d/%Y') if @contact.support_state.letter_sent_on.present? %>


  <div class="btn-group">
  	<%= link_to "Initial", quick_edit_contact_support_state_path(@contact, @contact.support_state, current_state: "initial"), class: "btn #{@contact.support_state.initial}" %>
  	<%= link_to "Letter Sent", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.letter_sent}" %>
   	<%= link_to "Contacting", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.contacting}" %>
   	<%= link_to "Seen Presentation", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.seen_presentation}" %>
   	<%= link_to "Following Up", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.following_up}" %>
   	<%= link_to "One Time Gift", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.one_time_gift}" %>
   	<%= link_to "Monthly Gift", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.monthly_gift}" %>
   	<%= link_to "Not Giving", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.not_giving}" %>
   	<%= link_to "No Response", quick_edit_contact_support_state_path(@contact, @contact.support_state), class: "btn #{@contact.support_state.no_response}" %>
  </div>

  <%= link_to "Edit Donation Status", edit_contact_support_state_path(@contact, @contact.support_state) %>
<% else %>
	<%= link_to "Create Donation Status", new_contact_support_state_path(@contact) %>
<% end %>