<% content_for :header do %>
<h2 class="pull-left"><i class="icon-home"></i> Dashboard</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/" class="bread-current">Dashboard</a>
      <!-- <span class="divider">/</span>  -->
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
  <div class="container-fluid">
    <!-- Today status. jQuery Sparkline plugin used. -->
    <div class="row-fluid">
      <div class="span12"> 
        <!-- List starts -->
        <ul class="today-datas">
          <!-- List #1 -->
          <li>
            <!-- Graph -->
            <div class="datas-text">Total Contacts:<br/><%= Contact.contact_count %></div>
          </li>
          <li>
            <div class="datas-text">Non-Believers:<br/><%= Contact.non_believers %></div>
          </li>
          <li>
            <div class="datas-text">New Contacts (last 4 weeks):<br/><%= Contact.contacts_in_last_month %></div>
          </li>
          <li>
            <div class="datas-text">New Contacts (last year):<br/><%= Contact.contacts_in_last_year %></div>
          </li> 
          <li>
            <div class="datas-text">Saw Presentation:<br/><%= Contact.who_saw_presentation %></div>
          </li>
          <li>
            <div class="datas-text">Contacts who Donated:<br/><%= Contact.donated_contacts %></div>
          </li>                                                                                                                
        </ul> 
      </div>
    </div>
  </div>
<% end %>


	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="pull-right">
				<%= link_to "Add Task", new_task_path, :class => "btn btn-primary" %> <%= link_to "View All Tasks", tasks_path, :class => "btn btn-primary" %>
				</div>
				<div class="clear"></div>
		    <!-- overdue tasks widget -->
		    <% if @tasks_overdue.present? %>
			    <div class="widget">
			      <!-- Widget head -->
			    	<div class="widget-head">
			        <div class="pull-left">Overdue Tasks</div>
			        <div class="widget-icons pull-right">
			          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
			        </div>  
			        <div class="clearfix"></div>
			      </div>              
			
			      <!-- Widget content -->
			      <div class="widget-content">
						<table class="table table-striped table-bordered table-hover">
							<th></th>
							<th>Contact Name</th>
							<th>Task</th>
							<th>Due Date</th>
							<th class="text_right">View</th>
							<% @tasks_overdue.each do |overdue| %>
								<tr rel="<%= overdue.id %>" >
									<td><%= check_box_tag "#{overdue.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as	Completed", complete_task_path(overdue), remote: true, :class => "completed_button #{overdue.id}	hidden" %></td>
									<td><%= link_to overdue.contact.fullname.titleize, contact_path(overdue.contact_id) %></td>
									<td><%= overdue.task %></td>
									<td><%= overdue.due_date.strftime('%m/%d/%Y') %></td>
									<td><%= link_to "View", contact_path(overdue.contact_id), :class => "btn btn-small btn-info pull-right" %></td>
								</tr>
							<% end %>
						</table>
						<div class="widget-foot">
	                  	</div>
			      </div>
			    </div>
		    <% end %>
		    <!-- overdue tasks widget ends -->

		    <!-- task within week range begin -->
		    <% if @tasks_within_week_range.present? %>
			    <div class="widget">
			      <!-- Widget head -->
			    	<div class="widget-head">
			        <div class="pull-left">Tasks Within Week</div>
			        <div class="widget-icons pull-right">
			          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
			        </div>  
			        <div class="clearfix"></div>
			      </div>              
			
			      <!-- Widget content -->

			      <div class="widget-content">
						<table class="table table-striped table-bordered table-hover">
							<th></th>
							<th>Contact Name</th>
							<th>Task</th>
							<th>Due Date</th>
							<th class="text_right">View</th>
							<% @tasks_within_week_range.each do |weekly_tasks| %>
								<tr rel="<%= weekly_tasks.id %>" >
									<td><%= check_box_tag "#{weekly_tasks.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(weekly_tasks), remote: true, :class => "completed_button #{weekly_tasks.id} hidden" %></td>
									<td><%= link_to weekly_tasks.contact.fullname.titleize, contact_path(weekly_tasks.contact_id) %></td>
									<td><%= weekly_tasks.task %></td>
									<td><%= weekly_tasks.due_date.strftime('%m/%d/%Y') %></td>
									<td><%= link_to "View", contact_path(weekly_tasks.contact_id), :class => "btn btn-small btn-info pull-right" %></td>
								</tr>
							<% end %>
						</table>
						<div class="widget-foot">
	                  	</div>
			      </div>
			    </div>
		    <% end %>
		    <!-- task within week range end -->

		    <!-- tasks within month begin -->
		    <% if @tasks_this_month.present? %>
			    <div class="widget">
			      <!-- Widget head -->
			    	<div class="widget-head">
			        <div class="pull-left">Task Within Month</div>
			        <div class="widget-icons pull-right">
			          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
			        </div>  
			        <div class="clearfix"></div>
			      </div>              
			
			      <!-- Widget content -->
			      <div class="widget-content">
						<table class="table table-striped table-bordered table-hover">
							<th></th>
							<th>Contact Name</th>
							<th>Task</th>
							<th>Due Date</th>
							<th class="text_right">View</th>
						<% @tasks_this_month.each do |monthly_tasks| %>
							<tr rel="<%= monthly_tasks.id %>" >
								<td><%= check_box_tag "#{monthly_tasks.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(monthly_tasks), remote: true, :class => "completed_button #{monthly_tasks.id} hidden" %></td>
								<td><%= link_to monthly_tasks.contact.fullname.titleize, contact_path(monthly_tasks.contact_id) %></td>
								<td><%= monthly_tasks.task %></td>
								<td><%= monthly_tasks.due_date.strftime('%m/%d/%Y') %></td>
								<td><%= link_to "View", contact_path(monthly_tasks.contact_id), :class => "btn btn-small btn-info pull-right" %></td>
							</tr>
						<% end %>
						</table>
						<div class="widget-foot">
	                  	</div>
			      </div>
			    </div>
		    <% end %>
		    <!-- tasks within month end -->

		    <!-- tasks begin -->
		    <% if @task.present? %>
			    <div class="widget">
			      <!-- Widget head -->
			    	<div class="widget-head">
			        <div class="pull-left">Tasks</div>
			        <div class="widget-icons pull-right">
			          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
			        </div>  
			        <div class="clearfix"></div>
			      </div>              
			
			      <!-- Widget content -->
			      <div class="widget-content">
						<table class="table table-hover table-bordered">
							<thead>
								<th>Complete</th>
								<th>Contact</th>
								<th>Status</th>
								<th>Task</th>
								<th>Due date</th>
								<th>Category</th>
								<th>Action</th>		
							</thead>
						<% @task.each do |task| %>
							<tr rel="<%= task.id %>" >
								<td><%= check_box_tag "#{task.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(task), remote: true, :class => "completed_button #{task.id} hidden" %>Check to complete</td>
								<td><%= link_to task.contact.fullname.titleize, contact_path(task.contact_id) %></td>
								<td class="task_status"><%= status(task.completed) %></td>
								<td><%= task.task %></td>
								<td><%= task.due_date.strftime('%m/%d/%Y') %></td>
								<td><%= task.category %></td>
								<td class="text_center"><%= link_to edit_button, edit_task_path(task, contact_id: task.contact_id), :class => "btn btn-small btn-success" %> <%= link_to delete_button, task_path(task), :method => :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-small btn-danger" %> <%= link_to contact_button, contact_path(task.contact_id), :class => "btn btn-small btn-info" %></td>
							</tr>
						<% end %>	
						</table>
						<div class="widget-foot">
	                  	</div>
			      </div>
			    </div>
		    <% end %>
		    <!-- tasks end -->
		    <div class="pull-right">
		    <%= link_to "Add Task", new_task_path, :class => "btn btn-primary" %> <%= link_to "View All Tasks", tasks_path, :class => "btn btn-primary" %>
			</div>

		    <br/> <br/>
		  </div>
		</div>
	</div> <!-- container-fluid end -->
</div> <!-- div class mattter ends -->



