<h2>Home page</h2>
<%= link_to "All Contacts", contacts_path%><br/>
<%= link_to "Create New Contact", new_contact_path %>

<br/>
<br/>

<div class="row-fluid">

	<div class="span3">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
	
	<div class="span9">
		<h2> 
			Tasks
		</h2>
		
		<table class="table table-hover table-bordered">
			<thead>
				<th>Complete</th>
				<th>Contact</th>
				<th>Status</th>
				<th>Task</th>
				<th>Due date</th>
				<th>Category</th>
				<th>Action</th>		
			</thead>
		<% @task.each do |task| %>
			<tr rel="<%= task.id %>" >
				<td><%= check_box_tag "#{task.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(task), remote: true, :class => "completed_button #{task.id} hidden" %>Check to complete</td>
				<td><%= link_to first_name(task), contact_path(task.contact_id) %></td>
				<td class="task_status"><%= status(task.completed) %></td>
				<td><%= task.task %></td>
				<td><%= task.due_date %></td>
				<td><%= task.category %></td>
				<td class="text_center"><%= link_to edit_button, edit_task_path(task, contact_id: task.contact_id), :class => "btn btn-small btn-success" %> <%= link_to delete_button, task_path(task), :method => :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-small btn-danger" %> <%= link_to contact_button, contact_path(task.contact_id), :class => "btn btn-small btn-info" %></td>
			</tr>
		<% end %>	
		</table>
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary" %> <%= link_to "View All Tasks", tasks_path, :class => "btn btn-primary" %>
	</div>

</div>