<% content_for :header do %>
<h2 class="pull-left"><i class="icon-home"></i> Dashboard</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/" class="bread-current">Dashboard</a>
      <!-- <span class="divider">/</span>  -->
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
  <div class="container-fluid">
    <!-- Today status. jQuery Sparkline plugin used. -->
    <div class="row-fluid">
      <div class="span12"> 
        <!-- List starts -->
        <ul class="today-datas">
          <!-- List #1 -->
          <li>
            <!-- Graph -->
            <div class="datas-text">Total Contacts:<br/><%= Contact.contact_count %></div>
          </li>
          <li>
            <div class="datas-text">Non-Believers:<br/><%= Contact.non_believers %></div>
          </li>
          <li>
            <div class="datas-text">New Contacts (last 4 weeks):<br/><%= Contact.contacts_in_last_month %></div>
          </li>
          <li>
            <div class="datas-text">New Contacts (last year):<br/><%= Contact.contacts_in_last_year %></div>
          </li> 
          <li>
            <div class="datas-text">Saw Presentation:<br/><%= Contact.who_saw_presentation %></div>
          </li>
          <li>
            <div class="datas-text">Contacts who Donated:<br/><%= Contact.donated_contacts %></div>
          </li>                                                                                                                
        </ul> 
      </div>
    </div>
  </div>
</div>

<% end %>



<div class="row-fluid">
  <div class="span8">

    <!-- Widget -->
    <div class="widget">
      <!-- Widget head -->
      <div class="widget-head">
        <div class="pull-left">Dashboard</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
          <a href="#" class="wclose"><i class="icon-remove"></i></a>
        </div>  
        <div class="clearfix"></div>
      </div>              

      <!-- Widget content -->
      <div class="widget-content">
        <div class="padd">

          <!-- Curve chart (Blue color). jQuery Flot plugin used. -->
          <div id="curve-chart"></div>

          <hr />
          <!-- Hover location -->
          <div id="hoverdata">Mouse hovers at
          (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></div>          

          <!-- Skil this line. <div class="uni"><input id="enableTooltip" type="checkbox">Enable tooltip</div> -->

        </div>
      </div>
      <!-- Widget ends -->

    </div>
  </div>

  <div class="span4">

    <div class="widget">

      <div class="widget-head">
        <div class="pull-left">Today Status</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
          <a href="#" class="wclose"><i class="icon-remove"></i></a>
        </div>  
        <div class="clearfix"></div>
      </div>             

      <div class="widget-content">
        <div class="padd">

          <!-- Visitors, pageview, bounce rate, etc., Sparklines plugin used -->
          <ul class="current-status">
            <li>
              <span id="status1"></span> <span class="bold">Visits : 2000</span>
            </li>
            <li>
              <span id="status2"></span> <span class="bold">Unique Visitors : 1,345</span>
            </li>
            <li>
              <span id="status3"></span> <span class="bold">Pageviews : 2000</span>
            </li>
            <li>
              <span id="status4"></span> <span class="bold">Pages / Visit : 2000</span>
            </li>
            <li>
              <span id="status5"></span> <span class="bold">Avg. Visit Duration : 2000</span>
            </li>
            <li>
              <span id="status6"></span> <span class="bold">Bounce Rate : 2000</span>
            </li>   
            <li>
              <span id="status7"></span> <span class="bold">% New Visits : 2000</span>
            </li>                                                                                                            
          </ul>

        </div>
      </div>

    </div>

  </div>
</div>





<div class="row-fluid">

	<div class="span3 beige round">
		<h2>Home page</h2>
		<!-- <%= link_to "All Contacts", contacts_path%><br/>
				<%= link_to "Create New Contact", new_contact_path %> -->
		<br/>
		<%= render "pages/summary" %>
	</div>
	
	<div class="span9">
		<h2> 
			Tasks
		</h2>
		
		
<!-- task summary -->
		
		<h3>Tasks Summary</h3>
		<br/>
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary" %> <%= link_to "View All Tasks", tasks_path, :class => "btn btn-primary" %>
		<br/>
		<br/>
		<% if @tasks_overdue.present? %>
			<div class="table_container">
				<span class="attribute_header">Overdue tasks:</span></br>
				<table class="table table-hover uniform">
						<th></th>
						<th>Contact Name</th>
						<th>Task</th>
						<th>Due Date</th>
						<th class="text_right">View</th>
					<% @tasks_overdue.each do |overdue| %>
						<tr rel="<%= overdue.id %>" >
							<td><%= check_box_tag "#{overdue.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(overdue), remote: true, :class => "completed_button #{overdue.id} hidden" %></td>
							<td><%= link_to overdue.contact.fullname.titleize, contact_path(overdue.contact_id) %></td>
							<td><%= overdue.task %></td>
							<td><%= overdue.due_date.strftime('%m/%d/%Y') %></td>
							<td><%= link_to "View", contact_path(overdue.contact_id), :class => "btn btn-small btn-info pull-right" %></td>
						</tr>
					<% end %>
				</table>
			</div>	
		<% end %>
		
<br/>

		<% if @tasks_within_week_range.present? %>
			<div class="table_container">
				<span class="attribute_header">Remaining tasks (1 week):</span></br>
				<table class="table table-hover uniform">
					<th></th>
					<th>Contact Name</th>
					<th>Task</th>
					<th>Due Date</th>
					<th class="text_right">View</th>
					<% @tasks_within_week_range.each do |weekly_tasks| %>
						<tr rel="<%= weekly_tasks.id %>" >
							<td><%= check_box_tag "#{weekly_tasks.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(weekly_tasks), remote: true, :class => "completed_button #{weekly_tasks.id} hidden" %></td>
							<td><%= link_to weekly_tasks.contact.fullname.titleize, contact_path(weekly_tasks.contact_id) %></td>
							<td><%= weekly_tasks.task %></td>
							<td><%= weekly_tasks.due_date.strftime('%m/%d/%Y') %></td>
							<td><%= link_to "View", contact_path(weekly_tasks.contact_id), :class => "btn btn-small btn-info pull-right" %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>

		<br/>

		<% if @tasks_this_month.present? %>
			<div class="table_container">
				<span class="attribute_header">Remaining tasks (4 weeks):</span></br>
				<table class="table table-hover uniform">
					<th></th>
					<th>Contact Name</th>
					<th>Task</th>
					<th>Due Date</th>
					<th class="text_right">View</th>
				<% @tasks_this_month.each do |monthly_tasks| %>
					<tr rel="<%= monthly_tasks.id %>" >
						<td><%= check_box_tag "#{monthly_tasks.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(monthly_tasks), remote: true, :class => "completed_button #{monthly_tasks.id} hidden" %></td>
						<td><%= link_to monthly_tasks.contact.fullname.titleize, contact_path(monthly_tasks.contact_id) %></td>
						<td><%= monthly_tasks.task %></td>
						<td><%= monthly_tasks.due_date.strftime('%m/%d/%Y') %></td>
						<td><%= link_to "View", contact_path(monthly_tasks.contact_id), :class => "btn btn-small btn-info pull-right" %></td>
					</tr>
				<% end %>
				</table>
			</div>
		<% end %>
		
<!-- task summary -->
		
		<br/>
		<% if @task.present? %>
			<table class="table table-hover table-bordered">
				<thead>
					<th>Complete</th>
					<th>Contact</th>
					<th>Status</th>
					<th>Task</th>
					<th>Due date</th>
					<th>Category</th>
					<th>Action</th>		
				</thead>
			<% @task.each do |task| %>
				<tr rel="<%= task.id %>" >
					<td><%= check_box_tag "#{task.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(task), remote: true, :class => "completed_button #{task.id} hidden" %>Check to complete</td>
					<td><%= link_to task.contact.fullname.titleize, contact_path(task.contact_id) %></td>
					<td class="task_status"><%= status(task.completed) %></td>
					<td><%= task.task %></td>
					<td><%= task.due_date.strftime('%m/%d/%Y') %></td>
					<td><%= task.category %></td>
					<td class="text_center"><%= link_to edit_button, edit_task_path(task, contact_id: task.contact_id), :class => "btn btn-small btn-success" %> <%= link_to delete_button, task_path(task), :method => :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-small btn-danger" %> <%= link_to contact_button, contact_path(task.contact_id), :class => "btn btn-small btn-info" %></td>
				</tr>
			<% end %>	
			</table>
		<% end %>
			
			
		<br/>
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary" %> <%= link_to "View All Tasks", tasks_path, :class => "btn btn-primary" %>
	</div>

</div>