<h2>Home page</h2>
<%= link_to "All Contacts", contacts_path%><br/>
<%= link_to "Create New Contact", new_contact_path %>

<br/>
<br/>

<div class="row-fluid">

	<div class="span3">
		<h3>Contacts Summary</h3>
		<h3>Donation Summary</h3>
		<span class="attribute_header">This month:</span>
		<br/>
		<%= currency(Donation.this_month_sum) %>
		<br/>
		<span class="attribute_header">This year:</span>
		<br/>
		<%= donation_this_year %>
		<br/>
		<span class="attribute_header">All time:</span>
		<br/>
		<%= donations_all_time %>
		<br/>
		<%= link_to "View all Donations", donations_path, :class => "btn btn-warning" %>
		<br/>
		<h3>Tasks summary</h3>
		<span class="attribute_header">Number of incomplete tasks:</span><br/>
		<%= Task.incomplete_tasks %><br/>
		<% if @tasks_this_month.present? %>
			<span class="attribute_header">Remaining tasks this month:</span></br>
			<table class="table">
			<% @tasks_this_month.each do |monthly_tasks| %>
				<tr>
					<td><%= link_to first_name(monthly_tasks), contact_path(monthly_tasks.contact_id) %></td>
					<td><%= monthly_tasks.task %></td>
					<td><%= monthly_tasks.due_date %></td>
					<td><%= link_to "View", contact_path(monthly_tasks.contact_id), :class => "btn btn-small btn-info" %></td>
				</tr>
			<% end %>
			</table>
		<% end %>
	</div>
	
	<div class="span9">
		<h2> 
			Tasks
		</h2>
		
		<table class="table table-hover table-bordered">
			<thead>
				<th>Complete</th>
				<th>Contact</th>
				<th>Status</th>
				<th>Task</th>
				<th>Due date</th>
				<th>Category</th>
				<th>Action</th>		
			</thead>
		<% @task.each do |task| %>
			<tr rel="<%= task.id %>" >
				<td><%= check_box_tag "#{task.id}", "checkbox", false, :class => "checkbox" %> <%= link_to "Mark as Completed", complete_task_path(task), remote: true, :class => "completed_button #{task.id} hidden" %>Check to complete</td>
				<td><%= link_to first_name(task), contact_path(task.contact_id) %></td>
				<td class="task_status"><%= status(task.completed) %></td>
				<td><%= task.task %></td>
				<td><%= task.due_date %></td>
				<td><%= task.category %></td>
				<td class="text_center"><%= link_to edit_button, edit_task_path(task, contact_id: task.contact_id), :class => "btn btn-small btn-success" %> <%= link_to delete_button, task_path(task), :method => :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-small btn-danger" %> <%= link_to contact_button, contact_path(task.contact_id), :class => "btn btn-small btn-info" %></td>
			</tr>
		<% end %>	
		</table>
		<%= link_to "Add Task", new_task_path, :class => "btn btn-primary" %> <%= link_to "View All Tasks", tasks_path, :class => "btn btn-primary" %>
	</div>

</div>