<% content_for :header do %>
    <h2 class="pull-left"><i class="fa fa-home"></i> Dashboard</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="/" class="bread-current">Dashboard</a>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <!-- List starts -->
                <ul class="today-datas">
                    <!-- List #1 -->
                    <li>
                    <!-- Graph -->
                        <div class="datas-text">Total Contacts:<br/><%= Contact.contact_count %></div>
                    </li>
                    <li>
                        <div class="datas-text">Non-Believers:<br/><%= Contact.non_believers %></div>
                    </li>
                    <li>
                        <div class="datas-text">New Contacts (last 4 weeks):<br/><%= Contact.contacts_in_last_month %></div>
                    </li>
                    <li>
                        <div class="datas-text">New Contacts (last year):<br/><%= Contact.contacts_in_last_year %></div>
                    </li> 
                    <li>
                        <div class="datas-text">Saw Presentation:<br/><%= Contact.who_saw_presentation %></div>
                    </li>
                    <li>
                        <div class="datas-text">Contacts who Donated:<br/><%= Contact.donated_contacts %></div>
                    </li>                                                                                                                
                </ul> 
            </div>
        </div>
    </div>
<% end %>


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- task within week range begin -->
                <%= render  :layout => 'shared/widget', :locals => {:title => 'Tasks Due This Week (Check to Complete)'} do %>
                    <% if @tasks_within_week_range.present? %>
                        <table class="table table-hover">
                            <thead>
                                <th>Complete</th>
                                <th>Task</th>
                                <th><span>Action</span></th>
                            </thead>
                            <tbody>
                                <%= render :partial => 'tasks/task', :collection => @tasks_within_week_range, :locals => {:hide_contact => false} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No tasks due this week.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to "Add New Task", new_task_path, :class => "btn btn-primary" %>
                        <%= link_to "View All Task", tasks_path, :class => "btn btn-info" %>
                        <div class="clear"></div>
                    </div>
                <% end %>
                <!-- task within week range end -->

                <!-- incomplete tasks begin -->
                <%= render  :layout => 'shared/widget', :locals => { :title => 'Incomplete Tasks (Check to Complete)' } do %>
                    <% if @incomplete_tasks.present? %>
                        <table class="table table-hover">
                            <thead>
                                <th>Complete</th>
                                <th>Task</th>
                                <th><span>Action</span></th>
                            </thead>
                            <tbody>
                                <%= render :partial => 'tasks/task', :collection => @incomplete_tasks, :locals => {:hide_contact => false} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No tasks to complete.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to "Add New Task", new_task_path, :class => "btn btn-primary" %>
                        <%= link_to "View All Tasks", tasks_path, :class => "btn btn-info" %>
                        <div class="clear"></div>
                    </div>
                <% end %>
                <!-- incomplete tasks end -->
            </div>
            <div class="col-md-4">
                <%= render  :layout => 'shared/widget', :locals => { :title => 'Upcoming Special Dates' } do %>
                    <div class="padd">
                        <% if @occasions_week.present? %>
                            <%= render :partial => 'occasions/occasion_mini', :collection => @occasions_week %>
                        <% else %>
                            <p>Currently, no upcoming special dates.</p>
                        <% end %>
                    </div>
                    <div class="widget-foot text-right">
                        <%= link_to "View All Special Dates", occasions_path, :class => "btn btn-info btn-sm" %>
                        <div class="clear"></div>
                    </div>
                <% end %>

                <%= render  :layout => 'shared/widget', :locals => { :title => "This Year's Donations (#{donation_this_year})" } do %>
                    <div class="padd">
                        <div id="donation-summary-wiget" class="widget-chart"></div>
                    </div>
                    <div class="widget-foot text-center donation-total-widget"></div>
                <% end %>

                <%= render :partial => "support_states/overall_status" %>

            </div>
            <div class="clear"></div>
        </div>
    </div> <!-- container-fluid end -->
</div> <!-- div class mattter ends -->

<% content_for :additional_js do %>
    <script type="text/javascript">
        $(document).ready(function() {
            donationsThisYearWidget(<%= widget_donation_this_year_data %>);
        });
    </script>
<% end %>