<h3>Summary</h3>
<strong>Total:</strong> 
<%= Contact.contact_count %><br/>
<strong>Non-Believers:</strong> 
<%= Contact.non_believers %><br/>
<strong>New Contacts (last 4 weeks):</strong> 
<%= Contact.contacts_in_last_month %><br/>
<strong>New contacts (last year):</strong> 
<%= Contact.contacts_in_last_year %><br/>
<strong>Saw the Presentation:</strong> 
<%= Contact.who_saw_presentation %><br/>
<strong>Donated:</strong> 
<%= Contact.donated_contacts %><br/>
<br/>
<% if @new_contacts.present? %>
	<strong>Recent contacts (past week):</strong><br/>
	<table class="table round">
		<% @new_contacts.each do |new_contact| %>
		<tr>
			<td><%= link_to full_name(new_contact), contact_path(new_contact) %></td>
			<td><%= link_to "View", contact_path(new_contact), :class => "btn btn-info btn-small pull-right" %></td>
		</tr>
		<% end %>
	</table>
<% end %>