<tr>
	 <td class="avatar_index">

	 	<% if contact.avatar.url.present? %>
			<%= image_tag contact.avatar.url(:thumb) %>
		<% end %>
	 	<br/>
		<%= link_to contact.last_name.capitalize, contact %>
		<span class="slash">/</span> 
		<%= link_to contact.first_name.capitalize, contact %>
		<span class="slash">/</span> 
		<%= contact.spouse_name.capitalize %>
		<span class="slash">/</span> 
		<%= contact.believer.yes_or_no %>
		<span class="slash">/</span> 
		<%= contact.preferred_contact %>
		<span class="slash">/</span> 
		<%= contact.presented_vision ? image_tag('presented_vision.png', title: "Presented Vision", alt: "Presented Vision") : "No" %>
		
		<% if contact.tag_list.present? %>
			<br/>
			Tags: 
			<% contact.tag_list.each do |tag| %>
				<span class="label label-important"><%= link_to tag, tag_path(tag), :class => "white_text" %></span>
			<% end %>
		<% end %>
		<span class="pull-right">
			<div class="btn-group pull-right">
			<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li>
					<%= link_to contact_button, contact %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to edit_button, edit_contact_path(contact) %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to delete_button, contact, method: :delete, data: { confirm: 'Are you sure?' } %>
				</li>
			</ul>
		</div> 
		</span>
		</td>
</tr>