<tr>
			  <td class="text_center">
			    <%= image_tag('presented_vision.png', title: "Presented Vision", alt: "Presented Vision") if contact.presented_vision %>
			  </td>
				<td>
					<% if contact.tag_list.present? %>
					<ul class="nav nav-pills tag_container">
					  <li class="dropdown">
					    <a class="dropdown-toggle"
					       data-toggle="dropdown" href="#">
					        tags
					        <b class="caret"></b>
					      </a>
					    <ul class="dropdown-menu">
					      <% contact.tag_list.each do |tag| %>
									<li><%= link_to tag, tag_path(tag) %></li>
								<% end %>
					    </ul>
					  </li>
					</ul>
						<!-- <%= link_to contact.tag_list.first, tag_path(contact.tag_list.first), :class => "label label-important" %> -->
					<% end %>
				</td>
				<td><%= link_to contact.last_name.capitalize, contact %></td>
				<td><%= link_to contact.first_name.capitalize, contact %></td>
				<td><%= contact.spouse_name.capitalize %></td>
				<td class="believer"><%= contact.believer.yes_or_no %></td>
				<td><%= contact.preferred_contact %></td>
				<td><%= contact.receive_newsletter.yes_or_no %></td>
				
				<td class="text_center"><%= link_to edit_button, edit_contact_path(contact), :class => "btn btn-success btn-small"  %> <%= link_to delete_button, contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %> <%= link_to contact_button, contact, :class => "btn btn-info btn-small"  %></td>
			
		  </tr>