<%= form_for(@contact) do |f| %>

	<div class="span2 offset3">
		<%= f.file_field :avatar %>
		<br/><br/>
		<%= f.label :first_name, "First Name" %>
		<%= f.text_field :first_name, id: "first_name"  %>
		<br/><br/>
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name, id: "last_name"  %>
		<br/><br/>
		<%= f.label :spouse_name, "Spouse Name" %>
		<%= f.text_field :spouse_name, id: "spouse_name"  %>
		<br/><br/>
		<%= f.label :email, "Email" %>
		<%= f.text_field :email, id: "email"  %>
		<br/><br/>
		<%= f.label :spouse_email, "Spouse Email" %>
		<%= f.text_field :spouse_email, id: "spouse_email"  %>
		<br/><br/>
		<%= f.label :address_1, "Address 1" %>
		<%= f.text_field :address_1, id: "address_1"  %>
		<br/><br/>
		<%= f.label :address_2, "Address 2" %>
		<%= f.text_field :address_2, id: "address_2"  %>
		<br/><br/>
		<%= f.label :city, "City" %>
		<%= f.text_field :city, id: "city"  %>
		<br/><br/>
		<%= f.label :zip, "Zip" %>
		<%= f.text_field :zip, id: "zip"  %>
		<br/><br/>
		<%= f.label :country_id, "Country" %>
		<%= f.select(:country_id, Country.all.collect {|c| [c.printable_name, c.id]})  %>
		<br/><br/>
		<%= f.label :state_id, "State" %>
		<%= f.select(:state_id, State.all.collect {|s| [s.state_long, s.id]} ) %>
		<br/><br/>
		<%= f.label :children, "Children" %>
		<%= f.text_area :children, id: "Children", :rows => "3"  %>
		<br/><br/>
		<%= f.label :preferred_contact, "Preferred Contact" %>
		<%= f.select :preferred_contact, Contact::CONTACTS, id: "preferred_contact", :include_blank => true  %>
		<br/><br/>
		<%= f.label :network, "Network" %>
		<%= f.select :network, Contact::NETWORKS, id: "network", :include_blank => true  %>
		<br/><br/>
		<%= f.label :tag_list, "Tags (separated by commas)" %>
		<%= f.text_field :tag_list %>
		<br/><br/>
		<%= f.label :receive_newsletter, "Receive Newsletter" %>
		<%= f.check_box :receive_newsletter, id: "receive_newsletter"  %>
		<br/><br/>
		<%= f.label :presented_vision, "Presented Vision" %>
		<%= f.check_box :presented_vision, id: "presented_vision"  %>
		<br/><br/>
		<%= f.label :believer, "Believer?" %>
		<%= f.check_box :believer, id: "believer"  %>
		<br/><br/>
		<%= f.label :spouse_believer, "Spouse Believer?" %>
		<%= f.check_box :spouse_believer, id: "Spouse Believer"  %>
		<br/><br/>

		<%= f.fields_for :support_state do |builder| %>
			Contact Status
			<%= builder.label :initial %>
			<%= builder.check_box :initial, class: "state" %>
			<%= builder.label :letter_sent %>
			<%= builder.check_box :letter_sent, class: "state" %>
			<%= builder.label :contacting %>
			<%= builder.check_box :contacting, class: "state" %>
			<%= builder.label :seen_presentation %>
			<%= builder.check_box :seen_presentation, class: "state" %>
			<%= builder.label :following_up %>
			<%= builder.check_box :following_up, class: "state" %>
			<%= builder.label :one_time_gift %>
			<%= builder.check_box :one_time_gift, class: "state" %>
			<%= builder.label :monthly_gift %>
			<%= builder.check_box :monthly_gift, class: "state" %>
			<%= builder.label :not_giving %>
			<%= builder.check_box :not_giving, class: "state" %>
			<%= builder.label :no_response %>
			<%= builder.check_box :no_response, class: "state" %>
			<%= builder.label :letter_sent_on %>
			<%= builder.text_field :letter_sent_on, :class => "due_date_field" %>
			<%= builder.label :presented_on %>
			<%= builder.text_field :presented_on, :class => "due_date_field" %>
			<%= builder.label :responding_on %>
			<%= builder.text_field :responding_on, :class => "due_date_field" %>
		<% end %>
	</div>

	
	
<div class="span2 offset2">
	<!-- Numbers -->
	<!-- <Number id: nil, phone_type: nil, number: nil, created_at: nil, updated_at: nil, contact_id: nil>  -->
	<div class="attribute_container">
		<span class="attribute_header">Phone Numbers</span><br/><br/>
	<%= f.fields_for :numbers do |builder| %>
		<%= render 'contacts/number_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add Phone Number", f, :numbers %>
	


	<br/>
	<br/>
	<br/>

	<!-- special dates -->
	<!-- <Occasion id: nil, day: nil, month: nil, year: nil, occasion: nil, created_at: nil, updated_at: nil, contact_id: nil>  -->
		<span class="attribute_header">Special Occasions</span><br/><br/>
	<%= f.fields_for :occasions do |builder| %>
		<%= render 'contacts/occasion_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add Special Occasion", f, :occasions %>

	<br/>
	<br/>
	<br/>
	<!-- <Presence id: nil, contact_id: nil, site: nil, url: nil, account: nil, created_at: nil, updated_at: nil>  -->
 
	<span class="attribute_header">Web Presence</span><br/><br/>
	<%= f.fields_for :presences do |builder| %>
		<%= render 'contacts/presence_fields', f: builder %>
	<% end %>	
	<%= link_to_add_fields "Add Web Presence", f, :presences %>
	
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="actions">
    <%= f.submit :id => "create_contact", :class => "btn btn-large btn-success" %>
  </div>


</div>
	
	
	</div>

<% end %>
<div class="clear"></div>




