<div class="row-fluid repeatable-inputs">
    <div class="span3">
         <div class="control-group">
            <%= f.label :phone_type, "Type", class: 'control-label' %>
            <div class="controls">
                <%= f.select :phone_type, Number::TYPES, :require => true, class: 'input-block-level' %>
            </div>
        </div>
    </div> <!-- span3 -->

    <div class="span3 offset1">
        <div class="control-group">
            <%= f.label :number, "Phone Number", class: 'control-label' %>
            <div class="controls">
                <%= f.text_field :number, id: "number", class: 'input-block-level'  %>
            </div>
        </div>
    </div> <!-- span3 -->

    <div class="span3 offset1">
        <div class="control-group">
            <%= f.label :note, "Note", class: 'control-label' %>
            <div class="controls">
                <%= f.text_field :note, id: "note", class: 'input-block-level'  %>
            </div>
        </div>
        <div class="text-right">
            <%= f.hidden_field :_destroy %>
            <%= link_to "Remove", '#', class: "remove_fields btn btn-small btn-info" %>
        </div>
    </div> <!-- span3 -->

    <div class="span1"></div>
    <div class="clear"></div>
</div> <!-- row-fluid -->