<div class="row repeatable-inputs">
    <div class="col-md-3">
         <div class="form-group">
            <%= f.label :phone_type, "Type" %>
            <%= f.select :phone_type, Number::TYPES, { require: true }, { class: 'form-control' } %>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <div class="form-group">
            <%= f.label :number, "Phone Number" %>
            <%= f.text_field :number, id: "number", class: 'form-control'  %>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <div class="form-group">
            <%= f.label :note, "Note" %>
            <%= f.text_field :note, id: "note", class: 'form-control'  %>
        </div>
    </div>

    <div class="col-md-1 text-right">
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", '#', class: "remove_fields btn btn-sm btn-info" %>
    </div>
    <div class="clear"></div>
</div>