<div class="row repeatable-inputs">
    <div class="col-md-3">
         <div class="control-group">
            <%= f.label :special_date, "Date" %>
            <%= render 'shared/date_picker_field', form: f, field_name: :special_date %>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <div class="control-group">
            <%= f.label :occasion, "Occasion" %>
            <%= f.text_field :occasion, id: "occasion", class: 'form-control'  %>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-1 text-right">
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", '#', class: "remove_fields btn btn-sm btn-info" %>
    </div>
    <div class="clear"></div>
</div> <!-- row -->