<div class="row repeatable-inputs">
    <div class="col-md-3">
         <div class="form-group">
            <%= f.label :site, "Website" %>
            <%= f.select :site, Presence::SITES, { require: true }, { class: 'form-control' } %>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <div class="form-group">
            <%= f.label :url, "URL (Include the http://)" %>
            <%= f.text_field :url, id: "url", class: 'form-control'  %>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <div class="form-group">
            <%= f.label :account, "Account ID" %>
            <%= f.text_field :account, id: "account", class: 'form-control'  %>
        </div>
    </div>

    <div class="col-md-1 text-right">
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", '#', class: "remove_fields btn btn-sm btn-info" %>
    </div>
    <div class="clear"></div>
</div>