<% content_for :header do %>
<h2 class="pull-left"><i class="fa fa-group"></i> Edit Contact: <%= @contact.fullname.present? ? @contact.fullname : "" %></h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Contacts", contacts_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Edit Contact", edit_contact_path(@contact), class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>
<div class="matter">
<% end %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%= render  layout: 'shared/widget', locals: { title: "Edit Details for #{@contact.family_name}" } do %>
                    <div class="padd"><%= render partial: 'form', locals: { form_type: 'edit'} %></div>
                    
                    <div class="widget-foot text-right">
                    </div>
                <% end %>
            </div>
        </div>

    </div>
</div> <!-- matter -->