<% content_for :header do %>
<h2 class="pull-left"><i class="icon-group"></i> Contacts</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="/" class="bread-current">Dashboard</a>
      <span class="divider">/</span> 
      <a href="#" class="bread-current">Contacts</a>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
  <div class="container-fluid">
    <!-- Today status. jQuery Sparkline plugin used. -->
    <div class="row-fluid">
      <div class="span12"> 
        <!-- List starts -->
        <ul class="today-datas">
          <!-- List #1 -->
          <li>
            <!-- Graph -->
            <div class="datas-text">Total Contacts:<br/><%= Contact.contact_count %></div>
          </li>
          <li>
            <div class="datas-text">Non-Believers:<br/><%= Contact.non_believers %></div>
          </li>
          <li>
            <div class="datas-text">New Contacts (last 4 weeks):<br/><%= Contact.contacts_in_last_month %></div>
          </li>
          <li>
            <div class="datas-text">New Contacts (last year):<br/><%= Contact.contacts_in_last_year %></div>
          </li> 
          <li>
            <div class="datas-text">Saw Presentation:<br/><%= Contact.who_saw_presentation %></div>
          </li>
          <li>
            <div class="datas-text">Contacts who Donated:<br/><%= Contact.donated_contacts %></div>
          </li>                                                                                                                
        </ul> 
      </div>
    </div>
  </div>
<% end %>



	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">


				<div class="pull-right">

				</div>
				<div class="clear"></div>

			<% if @new_contacts.present? and tag_param.present? == false %>
				<div class="span4">
				<div class="widget">
				  <!-- Widget head -->
					<div class="widget-head">
				    <div class="pull-left">New Contacts</div>
				    <div class="widget-icons pull-right">
				      <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				    </div>  
				    <div class="clearfix"></div>
				  </div>              
				
				  <!-- Widget content -->
				  <div class="widget-content">
				  	<table class="table index table-bordered table-hover table-striped">
				  	  <tr>
				  	    <th>Name</th>
				  	    <th>Action</th>
				  	  </tr>
				  	  <% @new_contacts.each do |new_contact| %>
				  	  	<tr>
				  	  		<td><%= link_to full_name(new_contact), contact_path(new_contact) %></td>
				  	  		<td><%= link_to "View", contact_path(new_contact), :class => "btn btn-info btn-small pull-right" %></td>
				  	  	</tr>
				  	  <% end %>
				  	</table>
						<div class="widget-foot">
			          	</div>
				  </div>
				</div>
			</div>
			<div class="clear"></div>
			<% end %>

			<%= tag_param %>
		    <% if @contacts.present? %>
		    <%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		    <br/><br/>
			    <div class="widget">
			      <!-- Widget head -->
			    	<div class="widget-head">
			        <div class="pull-left">Contacts</div>
			        <div class="widget-icons pull-right">
			          <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
			        </div>  
			        <div class="clearfix"></div>
			      </div>              
			
			      <!-- Widget content -->
			      <div class="widget-content">
			      	<table class="table index table-bordered table-hover table-striped", id="contacts">
			      	  <tr>
			      	  	<th></th>
			      	    <th><%= sortable "presented_vision", "Presented?" %></th>
			      		<th>Tags</th>
			      		<th><%= sortable "last_name" %></th>
			      	    <th><%= sortable "first_name" %></th>
			      		<th><%= sortable "spouse_name" %></th>
			      		<th><%= sortable "believer" %></th>
			      		<th><%= sortable "preferred_contact" %></th>
			      	    <th>Action</th>
			      	  </tr>

			      		<%= render @contacts%>

			      	</table>
						<div class="widget-foot">
	                  	</div>
			      </div>
			    </div>
		    <% end %>
		    <%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		    <%= paginate @contacts, :theme => 'twitter-bootstrap' %>
		    <br/><br/>
		  </div>
		</div>
	</div> <!-- container-fluid end -->
</div> <!-- div class mattter ends -->


