<div class="row-fluid">
	
	<div class="span3 beige round">			
		<%= render "contacts/contact_summary" %>
	</div>

	<div class="span9 table_container">
		
		<h1><%= link_to "All Contacts", contacts_path %></h1><br/>
		<%= tag_param %>
		<%= paginate @contacts, :theme => 'twitter-bootstrap' %>
		<%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		<br/><br/>
		<table class="table index table-bordered table-hover table-striped">
		  <tr>
			  <th>Tags</th>
		    <th><%= sortable "first_name" %></th>
				<th><%= sortable "last_name" %></th>
				<th><%= sortable "spouse_name" %></th>
				<th><%= sortable "believer" %></th>
				<th><%= sortable "preferred_contact" %></th>
				<th><%= sortable "receive_newsletter", "Newsletter" %></th>
				<th><%= sortable "created_at" %></th>
		    <th>Action</th>
		  </tr>

		<% @contacts.each do |contact| %>
		  <tr>
			
				<td>
					<% if contact.tag_list.present? %>
					<ul class="nav nav-pills tag_container">
					  <li class="dropdown">
					    <a class="dropdown-toggle"
					       data-toggle="dropdown" href="#">
					        tags
					        <b class="caret"></b>
					      </a>
					    <ul class="dropdown-menu">
					      <% contact.tag_list.each do |tag| %>
									<li><%= link_to tag, tag_path(tag) %></li>
								<% end %>
					    </ul>
					  </li>
					</ul>
						<!-- <%= link_to contact.tag_list.first, tag_path(contact.tag_list.first), :class => "label label-important" %> -->
					<% end %>
				</td>
				<td><%= link_to contact.first_name.capitalize, contact %></td>
		    <td><%= contact.last_name.capitalize %></td>
				<td><%= contact.spouse_name.capitalize %></td>
				<td class="believer"><%= contact.news_letter(contact.believer) %></td>
				<td><%= contact.preferred_contact %></td>
				<td><%= news_letter(contact.receive_newsletter) %></td>
				<td><%= contact.created_at.strftime('%m/%d/%Y') %></td>
				<td class="text_center"><%= link_to edit_button, edit_contact_path(contact), :class => "btn btn-success btn-small"  %> <%= link_to delete_button, contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %> <%= link_to contact_button, contact, :class => "btn btn-info btn-small"  %></td>
			
		  </tr>
		<% end %>
		</table>

		<br />
		<%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @contacts, :theme => 'twitter-bootstrap' %>
		
	</div> <!-- span12 -->

</div> <!-- row fluid -->