<div class="row-fluid">
	<div class="span12">
		
		<h1>All Contacts</h1><br/>
		<%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		<br/>
		<br/>
		<table class="table index table-bordered table-hover table-striped">
		  <tr>
			  <th>Image</th>
		    <th>First Name</th>
				<th>Last Name</th>
				<th>Spouse Name</th>
				<th>Children</th>
				<th>Preferred Contact</th>
				<th>News Letter</th>
				<th>Created at</th>
				<th>Updated at</th>
		    <th>Action</th>
		  </tr>

		<% @contacts.each do |contact| %>
		  <tr>
				<td></td>
				<td><%= link_to contact.first_name.capitalize, contact %></td>
		    <td><%= contact.last_name.capitalize %></td>
				<td><%= contact.spouse_name.capitalize %></td>
				<td><%= contact.children.capitalize %></td>
				<td><%= contact.preferred_contact %></td>
				<td><%= news_letter(contact.receive_newsletter) %></td>
				<td><%= contact.created_at.strftime('%m/%d/%Y') %></td>
				<td><%= contact.updated_at.strftime('%m/%d/%Y') %></td>
				<td class="text_center"><%= link_to edit_button, edit_contact_path(contact), :class => "btn btn-success btn-small"  %> <%= link_to delete_button, contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %> <%= link_to contact_button, contact, :class => "btn btn-info btn-small"  %></td>
			
		  </tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		
	</div> <!-- span12 -->

</div> <!-- row fluid -->