<div class="row-fluid">
	
	<div class="span3 beige round">			
		<%= render "contacts/contact_summary" %>
	</div>

	<div class="span9 table_container">
		
		<h1><%= link_to "All Contacts", contacts_path %></h1><br/>
		<%= tag_param %>
		<%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		<br/><br/>
		<table class="table index table-bordered table-hover table-striped", id="contacts">
		  <tr>
		    <th><%= sortable "presented_vision", "Presented?" %></th>
			  <th>Tags</th>
				<th><%= sortable "last_name" %></th>
		    <th><%= sortable "first_name" %></th>
				<th><%= sortable "spouse_name" %></th>
				<th><%= sortable "believer" %></th>
				<th><%= sortable "preferred_contact" %></th>
				<th><%= sortable "receive_newsletter", "Newsletter" %></th>
		    <th>Action</th>
		  </tr>

			<%= render @contacts%>

		</table>

		<br />
		<%= link_to 'New Contact', new_contact_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @contacts, :theme => 'twitter-bootstrap' %>
		
	</div> <!-- span12 -->

</div> <!-- row fluid -->