<% content_for :header do %>
<h2 class="pull-left"><i class="fa fa-group"></i> Contacts</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Contacts", contacts_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
    <div class="container">
    <!-- Today status. jQuery Sparkline plugin used. -->
        <div class="row">
            <div class="col-md-12"> 
                <!-- List starts -->
                <ul class="today-datas">
                    <!-- List #1 -->
                    <li>
                    <!-- Graph -->
                    <div class="datas-text">Total Contacts:<br/><%= Contact.contact_count %></div>
                    </li>
                    <li>
                    <div class="datas-text">Non-Believers:<br/><%= Contact.non_believers %></div>
                    </li>
                    <li>
                    <div class="datas-text">New Contacts (last 4 weeks):<br/><%= Contact.contacts_in_last_month %></div>
                    </li>
                    <li>
                    <div class="datas-text">New Contacts (last year):<br/><%= Contact.contacts_in_last_year %></div>
                    </li> 
                    <li>
                    <div class="datas-text">Saw Presentation:<br/><%= Contact.who_saw_presentation %></div>
                    </li>
                    <li>
                    <div class="datas-text">Contacts who Donated:<br/><%= Contact.donated_contacts %></div>
                    </li>                                                                                                                
                </ul> 
            </div>
        </div>
    </div>
<% end %>



    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <%= link_to 'Add New Contact', new_contact_path, :class => "btn btn-primary" %>
                <div class="clear"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                <%= tag_param %>
                <%= render  :layout => 'shared/widget', :locals => { :title => 'Contacts' } do %>
                    <% if @contacts.present? %>
                        <table class="table index table-hover table-striped", id="contacts">
                            <thead>
                                <tr>
                                    <th> Sort By<span class="sort-spacer"></span> 
                                        <%= sortable "last_name" %>
                                        <span class="sort-spacer">|</span> 
                                        <%= sortable "first_name" %>
                                        <span class="sort-spacer">|</span> 
                                        <%= sortable "spouse_name" %>
                                        <span class="sort-spacer">|</span> 
                                        <%= sortable "believer" %>
                                        <span class="sort-spacer">|</span> 
                                        <%= sortable "preferred_contact" %>
                                        <span class="sort-spacer">|</span> 
                                        <%= sortable "presented_vision", "Presented?" %>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <%= render @contacts%>

                            </tbody>

                        </table>
                    <% else %>
                        <div class="padd">
                            <p>There are no contacts available.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add New Contact', new_contact_path, :class => "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>
            </div>
            <div class="col-md-4">
                <%= render :partial => "support_states/overall_status" %>

                <%= render  :layout => 'shared/widget', :locals => { :title => 'Tags' } do %>
                    <div class="padd">
                        <% if @tags.present? %>
                            <% tag_cloud(@tags, %w(tag_cloud_entry_1 tag_cloud_entry_2 tag_cloud_entry_3 tag_cloud_entry_4)) do |tag, css_class| %>
                                <%= link_to tag.name.titleize, tag_path(tag.name), :class => css_class %>
                            <% end %>
                        <% else %>
                            <p>There are no tags available.</p>
                        <% end %>
                    </div>
                    <div class="widget-foot"></div>
                <% end %>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <%= paginate @contacts, :theme => 'twitter-bootstrap' %>
            </div>
        </div>
    </div> <!-- container-fluid end -->
</div> <!-- div class mattter ends -->


