<% content_for :header do %>
    <div class="pull-left">
        <h2><i class="fa fa-group"></i> <%= @contact.family_name %></h2>
    </div>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
        <span class="divider">/</span> 
        <%= link_to "Contacts", contacts_path, class: "bread-crumb" %>
        <span class="divider">/</span> 
        <%= link_to "#{@contact.fullname.present? ? @contact.fullname : 'Contact'}", contact_path(@contact), class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
<% end %>
    <div class="container">

        <%= render partial: 'team_status', locals: {contact: @contact} %>
        
        <div class="row">

            <div class="col-md-6">
                <%= render  :layout => 'shared/widget', locals: { title: 'Details' } do %>
                    <div class="row-fluid contact-details">
                        <div class="span5 text-center">
                            <% if @contact.avatar.url.present? %>
                                <%= image_tag @contact.avatar.url(:medium) %>
                            <% end %>
                        </div>

                        <div class="span6 offset1">
                            <h4><%= @contact.family_name %></h4>
                            <% unless @contact.children.blank? %>
                            <h5><%= @contact.children %></h5>
                            <% end %>
                            <% unless @contact.address_1.blank? %>
                                <br>
                                <p><%= @contact.address_1 %></p>
                                <% unless @contact.address_2.blank? %>
                                <p><%= @contact.address_2 %></p>
                                <% end %>
                                <p><%= @contact.city %>, <%= @contact.state.state_long %> <%= @contact.zip %></p>
                                <p><%= @contact.country.printable_name %></p>
                            <% end %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table index table-bordered table-hover table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Email:</td>
                                <td><%= mail_to @contact.email %></td>
                            </tr>
                            <% unless @contact.spouse_name.blank? %>
                                <tr>
                                    <td class="bold">Spouse Email:</td>
                                    <td><%= mail_to @contact.spouse_email %></td>
                                </tr>
                            <% end %>
                            <tr>
                                <td class="bold">Network:</td>
                                <td><%= @contact.network %></td>
                            </tr>
                            <tr>
                                <td class="bold">Account Number:</td>
                                <td><%= @contact.account_number %></td>
                            </tr>
                            <tr>
                                <td class="bold">Receive NewsLetter?</td>
                                <td><%= @contact.receive_newsletter.yes_or_no %></td>
                            </tr>
                            <tr>
                                <td class="bold">Sent Invitation Letter?</td>
                                <td class="sent-letter-result"><%= @contact.sent_letter.yes_or_no %></td>
                            </tr>
                            <tr>
                                <td class="bold">Presented Vision?</td>
                                <td class="presented-vision-result"><%= @contact.presented_vision.yes_or_no %></td>
                            </tr>
                            <tr>
                                <td class="bold">Believer:</td>
                                <td class="believer"><%= @contact.believer.yes_or_no %></td>
                            </tr>
                            <% unless @contact.spouse_name.blank? %>
                                <tr>
                                    <td class="bold">Spouse Believer:</td>
                                    <td class="believer"><%= @contact.spouse_believer.yes_or_no %></td>
                                </tr>
                            <% end %>
                            <tr>
                                <td class="bold">Created at:</td>
                                <td><%= @contact.created_at.strftime('%m/%d/%Y') %></td>
                            </tr>
                            <tr>
                                <td class="bold">Last Updated:</td>
                                <td><%= @contact.updated_at.strftime('%m/%d/%Y') %></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="contact-tags">
                                    <% @contact.tag_list.each do |tag| %>
                                        <span class="label label-info"><%= link_to tag.titleize, tag_path(tag), class: "white_text" %></span>
                                    <% end %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="widget-foot text-right">
                        <%= link_to 'Edit Details', edit_contact_path(@contact), class: "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>

                <% end %>
            </div>

            <div class="col-md-6">

                <%= render  :layout => 'shared/widget', :locals => { :title => 'Phone Number(s)' } do %>
                    <% if @contact.numbers.present?%>
                        <table class="table table-striped phone_number table-bordered">
                            <thead>
                                <th></th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <%= render partial: 'numbers/number', collection: @contact.numbers %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No phone numbers have been added to this contact.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add Phone Number', new_number_path(contact_id: @contact.id), class: "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>

                <%= render :layout => 'shared/widget', locals: {    title: 'Web Presence' } do %>
                    <% if @contact.presences.present? %>
                        <table class="table table-striped presence table-bordered">
                            <thead>
                                <th></th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <%= render partial: 'presences/presence', collection: @contact.presences, locals: {hide_contact: true} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No web presence has been added to this contact.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add Web Presence', new_presence_path(@contact), class: "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>

                <%= render  :layout => 'shared/widget', locals: { title: 'Special Date(s)' } do %>
                    <% if @contact.occasions.present? %>
                        <table class="table table-striped occasions table-bordered">
                            <thead>
                                <th></th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <%= render partial: 'occasions/occasion', collection: @contact.occasions.order("special_date ASC"), locals: {hide_contact: true} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No special dates have been added to this contact.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add Special Date', new_occasion_path(contact_id: @contact.id), class: "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>

                <%= render  :layout => 'shared/widget', locals: { title: 'Task(s)' } do %>
                    <% if @tasks.present? %>
                        <table class="table table-striped tasks table-bordered">
                            <thead>
                                <th>Complete</th>
                                <th>Task</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <%= render partial: 'tasks/task', collection: @tasks.order("due_date ASC"), locals: {hide_contact: true} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No incomplete tasks for this contact.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add Task', new_task_path(contact_id: @contact.id), class: "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>

            </div>
        </div>
        <div class="row">

            <div class="col-md-6">

                <%= render :layout => 'shared/widget', locals: { title: 'Note(s)' } do %>
                    <% if @notes.present? %>
                        <table class="table table-striped notes table-bordered">
                            <thead>
                                <th></th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <%= render partial: 'notes/note', collection: @notes, locals: {hide_contact: true} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No notes have been added to this contact.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add Note', new_note_path(contact_id: @contact.id), class: "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>

            </div>

            <div class="col-md-6">

                <%= render  :layout => 'shared/widget', locals: {    title: "Donation(s) - #{currency(@contact.donations.sum(:amount))}" } do %>
                    <% if @contact.donations.present? %>
                        <table class="table table-striped donations table-bordered">
                            <thead>
                                <th></th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <%= render partial: 'donations/donation', collection: @contact.donations.order("donation_date DESC"), locals: {hide_contact: true} %>
                            </tbody>
                        </table>
                    <% else %>
                        <div class="padd">
                            <p>No donations have been added to this contact.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add Donation', new_donation_path(contact_id: @contact.id), class: "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>

            </div>

        </div>
    </div>
</div>
