<%= link_to 'Home', root_path %>
</br>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</br>
Basic Info
</br>
<%= @contact.first_name %><br/>
<%= @contact.last_name %><br/>
<%= @contact.spouse_name %><br/>
<%= @contact.email %><br/>
<%= @contact.spouse_email %><br/>
<%= @contact.tags %><br/>
<%= @contact.network %><br/>
<%= @contact.address_1 %><br/>
<%= @contact.address_2 %><br/>
<%= @contact.city %><br/>
<%= @contact.state_id %><br/>
<%= @contact.zip %><br/>
<%= @contact.country_id %><br/>
<%= @contact.children %><br/>
<%= @contact.news_letter(@contact.receive_newsletter) %><br/>
<br/>
<br/>

<!-- phone numbers -->

Phone Number(s)
<br/>
<% if @number.length > 0 %>
<table>
	<thead>
		<th>Type</th>
		<th>Number</th>
	</thead>
<% @number.each do |number| %>
	<tr>
	<td><%= number.phone_type %></td>
	<td><%= number.number %></td>
	</tr>
<% end %>
</table>
<% end %>
<%= link_to "Add Phone Number", new_contact_number_path(@contact)%>
<br/>
<br/>

<!-- special occasion -->
<% if @occasion.length > 0 %>
<table>
	<thead>
		<th>Day</th>
		<th>Month</th>
		<th>Year</th>
		<th>Occasion</th>
	</thead>
<% @occasion.each do |occasion| %>
	<tr>
	<td><%= occasion.day %></td>
	<td><%= occasion.month %></td>
	<td><%= occasion.year %></td>
	<td><%= occasion.occasion %></td>
	</tr>
<% end %>
</table>
<% end %>
<br/>
<%= link_to "Add Special Date", new_contact_occasion_path(@contact) %>






