<%= form_for([@donation]) do |f| %>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :donation_date, "Date" %>
                <%= render 'shared/date_picker_field', form: f, field_name: :donation_date, default_value: @donation.donation_date %>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
    		<%= f.label :contact_id, "Contact" %>
            <%= f.select :contact_id, form_select, {}, class: 'form-control' %>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <%= f.label :amount, "Amount" %>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <%= f.text_field :amount, id: "amount", class: 'form-control'  %>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
        <div class="clear"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :project, "Project/Specific Use" %>
                <%= f.text_field :project, id: "project", class: 'form-control'  %>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1"></div>

        <div class="col-md-3 col-md-offset-1"></div>

        <div class="col-md-1"></div>
        <div class="clear"></div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
            <% if form_type == 'add' %>
                <%= f.submit :id => "Add Donation", :class => "btn btn-large btn-success" %>
            <% else %>
                <%= f.submit :id => "Update Donation", :class => "btn btn-large btn-success" %>
            <% end %>
        </div>
    </div>
<% end %>
<% content_for :additional_js do %>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.date-picker').datepicker();
        });
    </script>
<% end %>