<% content_for :header do %>
<h2 class="pull-left"><i class="fa fa-money"></i> Edit Donation</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Donations", donations_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Edit Donation", edit_donation_path(@donations), class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>
<div class="matter">
<% end %>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <%= render  layout: 'shared/widget', locals: { title: "Edit Donation" } do %>
                    <div class="padd"><%= render partial: 'form', locals: { form_type: 'edit'} %></div>
                    
                    <div class="widget-foot text-right">
                    </div>
                <% end %>
            </div>
        </div>

    </div>
</div> <!-- matter -->
