<% content_for :header do %>
<h2 class="pull-left"><i class="fa fa-money"></i> Donations</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Donations", donations_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
  <div class="container">
    <!-- Today status. jQuery Sparkline plugin used. -->
    <div class="row">
      <div class="col-md-12"> 
        <!-- List starts -->
        <ul class="today-datas">
          <!-- List #1 -->
          <li>
            <!-- Graph -->
            <div class="datas-text">Amount donated (this month):<br/><%= currency(Donation.this_month_sum) %></div>
          </li>
          <li>
            <div class="datas-text">Amount donated (this year):<br/><%= donation_this_year %></div>
          </li>
          <li>
            <div class="datas-text">Amount donated (all time):<br/><%= donations_all_time %></div>
          </li>
          <li>
            <div class="datas-text">Average Donation (all time):<br/><%= currency(Donation.average_donation) %></div>
          </li> 
          <li>
            <div class="datas-text">Number of contacts that have donated:<br/><%= Contact.donated_contacts %></div>
          </li>                                                                                                                
        </ul> 
      </div>
    </div>
  </div>
<% end %>


	<div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <%= link_to 'Add New Donation', new_donation_path, :class => "btn btn-primary" %>
                <div class="clear"></div>
            </div>
        </div>

		<div class="row">
            <div class="col-md-8">

                <%= tag_param %>
                <%= render  :layout => 'shared/widget', :locals => { :title => 'Donations' } do %>
                    <% if @donations.present? %>
                        <table class="table index table-hover table-striped", id="donations">
                            <tr>
                                <th> Sort By<span class="sort-spacer"></span> 
                                    <%= sortable "donation_date", "Date (mm/dd/yyyy)" %>
                                    <span class="sort-spacer">|</span> 
                                    <%= sortable "amount" %>
                                    <span class="sort-spacer">|</span> 
                                    <%= sortable "project" %>
                                </th>
                            </tr>
                            <%= render :partial => 'donations/donation', :collection => @donations, :locals => {:hide_contact => false} %>
                        </table>  
                    <% else %>
                        <div class="padd">
                            <p>There are no donations available.</p>
                        </div>
                    <% end %>
                    <div class="widget-foot text-right">
                        <%= link_to 'Add New Donation', new_donation_path, :class => "btn btn-primary" %>
                        <div class="clear"></div>
                    </div>
                <% end %>
            </div>
            <div class="col-md-4">

                <%= render  :layout => 'shared/widget', :locals => { title: 'Filter Donations' } do %>
                    <div class="padd text-center">
                        <div class="btn-group">
                            <%= link_to "This Month", donations_path(month: Time.now.month, year: Time.now.year, filter_type: 'this_month'), class: 'btn btn-default', id: 'this-month-button', type: 'button' %>
                            <%= link_to "This Year", donations_path(:year => Time.now.year, filter_type: 'this_year'), class: 'btn btn-default', id: 'this-year-button', type: 'button' %>
                        </div>
                    </div>
                    <div class="widget-foot text-right">
                        <%= link_to "Clear", donations_path, class: 'btn btn-info' %>
                    </div>
                <% end %>

                <%= render  :layout => 'shared/widget', :locals => { :title => "This Year's Donations (#{donation_this_year})" } do %>
                    <div class="padd">
                        <div id="donation-summary-wiget" class="widget-chart"></div>
                    </div>
                    <div class="widget-foot text-center donation-total-widget"></div>
                <% end %>

                <%= render  :layout => 'shared/widget', :locals => { :title => "Yearly Donations (#{donations_all_time})" } do %>
                    <div class="padd">
                        <div id="donation-yearly-summary-wiget" class="widget-chart"></div>
                    </div>
                    <div class="widget-foot text-center donation-yearly-total-widget"></div>
                <% end %>

            </div>
            <div class="clear"></div>
		</div>
        <div class="row">
            <div class="col-md-12">
                <%= paginate @donations %>
            </div>
        </div>
	</div> <!-- container-fluid end -->
</div> <!-- div class mattter ends -->
<% content_for :additional_js do %>
    <script type="text/javascript">
        $(document).ready(function() {
            <% unless params[:filter_type].blank? %>
                <% if params[:filter_type] == 'this_month' %>
                    $('a#this-month-button').addClass('btn-primary');
                <% elsif params[:filter_type] == 'this_year' %>
                    $('a#this-year-button').addClass('btn-primary');
                <% end %>
            <% end %>
            donationsThisYearWidget(<%= widget_donation_this_year_data %>);
            donationsYearlyWidget(<%=raw widget_donation_yearly_data %>);
        });
    </script>
<% end %>

