<div class="row-fluid">
	<div class="span3">
		
		<h1>Donation Summary</h1>
		<br/>
		<br/>
		<span class="attribute_header">Donations this month:</span>
		<br/>
		<%= donation_this_month %>
		<br/>
		<span class="attribute_header">Donations this year:</span>
		<br/>
		<%= donation_this_year %>
		<br/>
		<span class="attribute_header">Donations all time:</span>
		<br/>
		<%= donations_all_time %>
		<br/>	
		
	</div>
	
	<div class="span9">
		
		<h1>All Donations</h1><br/>
		<%= link_to 'New Donation', new_donation_path, :class => "btn btn-primary pull-right" %>
		<br/>
		<%= paginate @donations %>
		<br/>
		<table class="table index table-bordered table-hover table-striped">
		  <tr>
		    <th>Name</th>
				<th>Date</th>
				<th>Amount</th>
				<th>Project</th>
				<th>Created</th>
				<th>Updated</th>
		    <th>Action</th>
		  </tr>

		<% @donations.each do |donation| %>
		  <tr>
				<td><%= link_to first_name(donation), contact_path(donation.contact_id) %></td>
				<td><%= donation.donation_date %></td>
				<td><%= currency(donation.amount) %></td>
				<td><%= donation.project.capitalize %></td>
				<td><%= donation.created_at.strftime('%d/%m/%Y') %></td>
				<td><%= donation.updated_at.strftime('%d/%m/%Y') %></td>
				<td class="text_center"><%= link_to edit_button, edit_donation_path(donation, contact_id: donation.contact_id), :class => "btn btn-success btn-small"  %> <%= link_to delete_button, donation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %> <%= link_to contact_button, contact_path(donation.contact_id), :class => "btn btn-info btn-small"  %></td>
		  </tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Donation', new_donation_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @donations %>
	</div> <!-- span12 -->

</div> <!-- row fluid -->

<!-- <Donation id: nil, contact_id: nil, date: nil, amount: nil, project: nil, created_at: nil, updated_at: nil>  -->