<tr rel="<%= archive.id %>">
  <td>
    <strong><%= archive.filename %></strong>: <%= archive.created_at.strftime('%m/%d/%Y') %>
  </td>   
  <td class="actions">
    <div class="btn-group pull-right">
    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Download <i class='fa fa-download fa fa-white'></i>".html_safe, download_archive_path(archive) %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to delete_button, archive, method: :delete, data: { confirm: 'Are you sure? Please note this will also delete the backup file in the backup directory.' }, id: "delete-archive-#{archive.id}" %>
        </li>
      </ul>
    </div>
  </td>
</tr>