<% content_for :header do %>
<h2 class="pull-left"><i class="fa fa-cloud-download"></i> Backup</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Backup", archives_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
<% end %>


	<div class="container">
		<div class="row">
			
			<div class="col-md-12">
				<%= link_to "Create Backup", archives_path, :method => "post", :class => "btn btn-primary pull-right", :confirm => "The amount of time this process will take is contingent on the amount of data you have stored. Please note that this can take several minutes to complete." %>
			</div>

		</div>

		<div class="row">


      <div class="col-md-12">
        <%= render  :layout => 'shared/widget', :locals => { :title => 'Archives' } do %>
          <table class="table index table-bordered table-hover table-striped">
            <tr>
              <th>Backup</th>
              <th></th>
            </tr>
            <% if @archives.present? %>
                <%= render @archives%>
              <% else %>
                <td colspan="2"><p>Currently, no backups available.</p></td>
              <% end %>
          </table>
          
          <div class="widget-foot">
            <p class="text-warning">Backup files are located in the backups folder, under the root directory of this application.</p>
            <div class="clear"></div>
          </div>
        <% end %>
      </div>

		</div>
	</div>

</div>