<% content_for :header do %>
<h2 class="pull-left"><i class="icon-cloud-download"></i> Backup</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Backup", archives_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">
<% end %>


<div class="container-fluid min-height">
<div class="row-fluid">
	
	<div class="span12">
		<br/>
		<%= link_to "Create Backup", archives_path, :method => "post", :class => "btn btn-primary pull-right", :confirm => "The amount of time this process will take is contingent on the amount of data you have stored. Please note that this can take several minutes to complete." %>
		<br/><br/>

		<div class="widget">
		  <!-- Widget head -->
			<div class="widget-head">
		  	<div class="pull-left">
		  		Archives
		  	</div>
		  	<div class="widget-icons pull-right">
		    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
		    </div>  
		    <div class="clearfix"></div>
			</div>

		<table class="table index table-hover table-striped">
			<tr>
				<td>
					File Name
					<span class="slash">/</span>
					Created
				</td>
				<td><span class="pull-right">Action</span></td>
			</tr>
		<% @archives.each do |archive| %>
			<tr>
				<td>
					<%= archive.filename %>
					<span class="slash">/</span>
					<%= archive.created_at.strftime('%m/%d/%Y') %>
				</td>
				<td>
					<span class="pull-right">
					<div class="btn-group pull-right">
					<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to delete_button, archive, method: :delete, data: { confirm: 'Are you sure? Please note this will also delete the backup file in the backup directory.' } %> 
						<li class="divider"></li>
						<li>
							<%= link_to "Download <i class='icon-download icon-white'></i>".html_safe, download_archive_path(archive) %>
						</li>
					</ul>
				</div> 
				</td>
			</tr>
		<% end %>
		</table>
		<hr>
		<br/>
		<br/>
		<p class="text-warning">&nbsp;&nbsp;&nbsp;&nbsp;Backup files are located in the backups folder, under the root directory of this application.</p>
	</div> <!-- widget -->
	<br/><br/>
	</div><!-- span12 -->
</div>
</div><!-- container-fluid -->

</div> <!-- matter -->