
<%= form_for([@occasions]) do |f| %>
  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :special_date, "Date" %>
        <%= render 'shared/date_picker_field', form: f, field_name: :special_date, default_value: @occasions.special_date %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <%= f.label :contact_id, "Contact" %>
        <%= f.select :contact_id, form_select, {}, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
        <%= f.label :occasion, "Category" %>
        <%= f.text_field :occasion, :required => true, id: "occasion", class: 'form-control'  %>
      </div>
    </div>

    <div class="col-md-1"></div>
    <div class="clear"></div>

  </div>

  <div class="row">

    <div class="col-md-12 text-center">
      <hr>
      <% if form_type == 'add' %>
        <%= f.submit :id => "Add Special Date", :class => "btn btn-large btn-success" %>
      <% else %>
        <%= f.submit :id => "Update Special Date", :class => "btn btn-large btn-success" %>
      <% end %>
    </div>

  </div>
<% end %>
<% content_for :additional_js do %>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.date-picker').datepicker();
        });
    </script>
<% end %>