<div class="row-fluid">
	
	<div class="span3">
		<h3>Special Date Summary</h3>
		<% if @occasions_today.present? %>
			<strong>Special dates (today):</strong><br/>
			<table class="table">
			<% @occasions_today.each do |today| %>
				<tr>
					<td><%= link_to first_name(today), contact_path(today.contact_id)%></td>
					<td><%= today.occasion %></td>
					<td><%= link_to "View", contact_path(today.contact_id), :class => "btn btn-info btn-small pull-right" %></td>
				</tr>
			<% end %>
			</table>
		<% end %>
		
		<% if @occasions_week.present? %>
			<strong>Upcoming special dates (This Week):</strong><br/>
			<table class="table">
			<% @occasions_week.each do |week| %>
				<tr>
					<td><%= link_to first_name(week), contact_path(week.contact_id)%></td>
					<td><%= week.occasion %></td>
					<td><%= link_to "View", contact_path(week.contact_id), :class => "btn btn-info btn-small pull-right" %></td>
				</tr>
			<% end %>
			</table>
		<% end %>
		
		<% if @occasions_month.present? %>
			<strong>Upcoming special dates (This Month):</strong><br/>
			<table class="table">
			<% @occasions_month.each do |month| %>
				<tr>
					<td><%= link_to first_name(month), contact_path(month.contact_id)%></td>
					<td><%= month.occasion %></td>
					<td><%= link_to "View", contact_path(month.contact_id), :class => "btn btn-info btn-small pull-right" %></td>
				</tr>
			<% end %>
			</table>
		<% end %>
		
	</div>
	
	<div class="span9">
		
		<h1>All Special Dates</h1><br/>
		<%= link_to 'New Special Date', new_occasion_path, :class => "btn btn-primary pull-right" %>
		<br/>
		<%= paginate @occasions %>
		<br/>
		<table class="table index table-bordered table-hover table-striped">
		  <tr>
		    <th>Name</th>
				<th><%= sortable "occasion" %></th>
				<th><%= sortable "special_date", "Date (mm/dd/yyyy)" %></th>
				<th><%= sortable "created_at" %></th>
		    <th>Action</th>
		  </tr>

		<% @occasions.each do |occasion| %>
		  <tr>
				<td><%= link_to first_name(occasion), contact_path(occasion.contact_id) %></td>
				<td><%= occasion.occasion %></td>
				<td><%= occasion.special_date.strftime('%m/%d/%Y') %></td>
				<td><%= occasion.created_at.strftime('%m/%d/%Y') %></td>
				<td class="text_center"><%= link_to edit_button, edit_occasion_path(occasion, contact_id: occasion.contact_id), :class => "btn btn-success btn-small"  %> <%= link_to delete_button, occasion, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %> <%= link_to contact_button, contact_path(occasion.contact_id), :class => "btn btn-info btn-small"  %></td>
			</tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Special Date', new_occasion_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @occasions %>
		
	</div> <!-- span12 -->

</div> <!-- row fluid -->

<!-- <Occasion id: nil, day: nil, month: nil, year: nil, occasion: nil, created_at: nil, updated_at: nil, contact_id: nil>  -->