<div class="row-fluid">
	<div class="span12">
		
		<h1>All Special Dates</h1><br/>
		<%= link_to 'New Special Date', new_occasion_path, :class => "btn btn-primary pull-right" %>
		<br/>
		<%= paginate @occasions %>
		<br/>
		<table class="table index table-bordered table-hover table-striped">
		  <tr>
		    <th>Name</th>
				<th>Day</th>
				<th>Month</th>
				<th>Year</th>
				<th>Occasion</th>
		    <th>Action</th>
		  </tr>

		<% @occasions.each do |occasion| %>
		  <tr>
				<td><%= link_to first_name(occasion), contact_path(occasion.contact_id) %></td>
				<td><%= occasion.day %></td>
				<td><%= occasion.month %></td>
				<td><%= occasion.year %></td>
				<td><%= occasion.occasion %></td>
				<td class="text_center"><%= link_to edit_button, edit_occasion_path(occasion, contact_id: occasion.contact_id), :class => "btn btn-success btn-small"  %> <%= link_to delete_button, occasion, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %> <%= link_to contact_button, contact_path(occasion.contact_id), :class => "btn btn-info btn-small"  %></td>
			</tr>
		<% end %>
		</table>

		<br />

		<%= link_to 'New Special Date', new_occasion_path, :class => "btn btn-primary pull-right" %>
		<%= paginate @occasions %>
		
	</div> <!-- span12 -->

</div> <!-- row fluid -->

<!-- <Occasion id: nil, day: nil, month: nil, year: nil, occasion: nil, created_at: nil, updated_at: nil, contact_id: nil>  -->