<% content_for :header do %>
<h2 class="pull-left"><i class="icon-calendar"></i> Special Dates</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Special Dates", occasions_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">

<% end %>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12 text-right">
                <%= link_to 'Add New Special Date', new_occasion_path, class: "btn btn-primary" %>
                <div class="clear"></div>
            </div>
        </div>

        <div class="row-fluid">

            <div class="span8">
                <%= render  :layout => 'shared/widget', locals: { title: 'Special Dates' } do %>
                    <div class="padd text-center"><br><br>
                        <div id="special-dates-calendar"></div>
                    </div>
                    <div class="widget-foot">
                    </div>
                <% end %>

            </div> <!-- span8 -->

            <div class="span4"></div>

        </div> <!-- row fluid -->
    </div> <!-- container-fluid -->
</div> <!-- matter -->
<% content_for :additional_js do %>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#special-dates-calendar').fullCalendar({
                'header': {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                'events': "<%= occasions_path(format: 'json') %>"
            });
        });
    </script>
<% end %>