<% content_for :header do %>
<h2 class="pull-left"><i class="icon-calendar"></i> Special Dates</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Special Dates", occasions_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>

<div class="matter">

<% end %>
	<div class="container-fluid">

		<div class="row-fluid">
			
			<div class="span12">

				<% if @occasions_today.present? %>
					<div class="span4">
						<div class="widget">
						  <!-- Widget head -->
							<div class="widget-head">
						  	<div class="pull-left">
						  		<%= "Special dates (today #{Time.now.to_date.strftime('%m/%d/%Y')}):" %><br/>
						  		Contact <span class="slash">/</span> Occasion
						  	</div>
						  	<div class="widget-icons pull-right">
						    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
						    </div>  
						    <div class="clearfix"></div>
							</div>
							<div class="widget-content">
								<table class="table index table-hover table-striped">
									<% @occasions_today.each do |today| %>
										<tr>
											<td>
												<%= link_to summary_name_helper(today), contact_path(today.contact_id)%>
												<span class="slash">/</span> 
												<%= today.occasion %>
											</td>
											<td>
												<%= link_to "View", contact_path(today.contact_id), :class => "btn btn-info btn-small pull-right" %>
											</td>
										</tr>
									<% end %>
								</table>
							</div>
						</div>
					</div>
				<% end %>

				<% if @occasions_week.present? %>
					<div class="span4">
						<div class="widget">
						  <!-- Widget head -->
							<div class="widget-head">
						  	<div class="pull-left">
						  		Upcoming special dates (This Week):<br/>
						  		Contact <span class="slash">/</span> Occasion <span class="slash">/</span> Date
						  	</div>
						  	<div class="widget-icons pull-right">
						    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
						    </div>  
						    <div class="clearfix"></div>
							</div>
							<div class="widget-content">
								<table class="table index table-hover table-striped">
									<% @occasions_week.each do |week| %>
										<tr>
											<td>
												<%= link_to summary_name_helper(week), contact_path(week.contact_id)%>
												<span class="slash">/</span>
												<%= week.occasion %>
												<span class="slash">/</span>
												<%= week.special_date.strftime('%m/%d') %>
											</td>
											<td><%= link_to "View", contact_path(week.contact_id), :class => "btn btn-info btn-small pull-right" %></td>
										</tr>
									<% end %>
								</table>
							</div>
						</div>
					</div>
				<% end %>
				

				<% if @occasions_month.present? %>
					<div class="span4">
						<div class="widget">
						  <!-- Widget head -->
							<div class="widget-head">
						  	<div class="pull-left">
						  		Upcoming special dates (This Month):<br/>
						  		Contact <span class="slash">/</span> Occasion <span class="slash">/</span> Date
						  	</div>
						  	<div class="widget-icons pull-right">
						    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
						    </div>  
						    <div class="clearfix"></div>
							</div>
							<div class="widget-content">
								<table class="table index table-hover table-striped">
									<% @occasions_month.each do |month| %>
										<tr>
											<td>
												<%= link_to summary_name_helper(month), contact_path(month.contact_id)%>
												<span class="slash">/</span>
												<%= month.occasion %>
												<span class="slash">/</span>
												<%= month.special_date.strftime('%m/%d') %>
											</td>
											<td><%= link_to "View", contact_path(month.contact_id), :class => "btn btn-info btn-small pull-right" %></td>
										</tr>
									<% end %>
								</table>
							</div>
						</div>
					</div>
				<% end %>
				
				<%= link_to 'New Special Date', new_occasion_path, :class => "btn btn-primary pull-right" %>
				<div class="clear"></div>

				<div class="widget">
				  <!-- Widget head -->
					<div class="widget-head">
				  	<div class="pull-left">
				  		Special Dates
				  	</div>
				  	<div class="widget-icons pull-right">
				    	<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				    </div>  
				    <div class="clearfix"></div>
					</div>
				<div class="widget-content">
					<table class="table index table-hover table-striped", id="occasions">
					  <tr>
					    <th>
						    Name
						    <span class="slash">/</span>
							<%= sortable "occasion" %>
							<span class="slash">/</span>
							<%= sortable "special_date", "Date (mm/dd/yyyy)" %>
						</th>
					    <th><span class="pull-right">Action</span></th>
					  </tr>

						<%= render @occasions %>
					</table>
				</div>
				<br/><br/>
			</div><!-- widget -->
			<%= link_to 'New Special Date', new_occasion_path, :class => "btn btn-primary pull-right" %>
				<%= paginate @occasions, :theme => 'twitter-bootstrap' %>
				
			</div> <!-- span12 -->

		</div> <!-- row fluid -->
	</div> <!-- container-fluid -->
</div> <!-- matter -->

<!-- <Occasion id: nil, day: nil, month: nil, year: nil, occasion: nil, created_at: nil, updated_at: nil, contact_id: nil>  -->