<div class="row-fluid">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="/">Team Builder</a>
			<ul class="nav">
				<li><%= link_to "Home", root_path %> </li>
				<li><%= link_to "Contacts", contacts_path %> </li>
				<li><%= link_to "Donations"%> </li>
				<li><%= link_to "Tasks"%> </li>
				<li><%= link_to "Add Contact", new_contact_path %> </li>
				<li><%= link_to "Add Donation", new_donation_path %></li>
				<li><%= link_to "Add Note", new_note_path %></li>
				<li><%= link_to "Add Special Date", new_occasion_path %></li>
				<li><%= link_to "Add Phone Number", new_number_path %></li>
			</ul>
		</div>
	</div>
</div>