<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div class="conjtainer">
    <div class="navbar-header">
      <!-- Menu button for smallar screens -->
      <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span>Menu</span>
      </button>
      <!-- Site name for smallar screens -->
      <a href="/" class="navbar-brand hidden-lg">TeamBuilder</a>
    </div>
  </div>

  <!-- Navigation starts -->
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">        
    <!-- Search form -->
    <%= form_tag contacts_path, {class: 'navbar-form navbar-left', role: 'search', method: 'get'} do%>
      <div class="form-group">
        <%= text_field_tag :search, nil, 
            placeholder: (params[:search].present? ? params[:search] : "Search Contacts"),
            class: "form-control",
            rel: "tooltip",
            title: "Use this search bar tosearch through your contacts by name. Prefix your search query with # to search by tags. Press enter to search".html_safe 
        %>
      </div>
      <%= submit_tag "Search", name: nil, id: "search_submit", class: "hidden-submit" %>
    <% end %>

    <!-- Links -->
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown pull-right">            
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <i class="fa fa-plus"></i> Add <b class="caret"></b>              
        </a>
        
        <!-- Dropdown menu -->
        <ul class="dropdown-menu">
          <li><%= link_to "<i class='fa fa-group'></i> New Contact".html_safe, new_contact_path %> </li>
          <li class="divider"></li>
          <li><%= link_to "<i class='fa fa-money'></i> New Donation".html_safe, new_donation_path %></li>
          <li class="divider"></li>
          <li><%= link_to "<i class='fa fa-file-text-o'></i> New Note".html_safe, new_note_path %></li>
          <li class="divider"></li>
          <li><%= link_to "<i class='fa fa-calendar'></i> New Special Date".html_safe, new_occasion_path %></li>
          <li class="divider"></li>
          <li><%= link_to "<i class='fa fa-mobile-phone'></i> New Phone Number".html_safe, new_number_path %></li>
          <li class="divider"></li>
          <li><%= link_to "<i class='fa fa-tasks'></i> New Task".html_safe, new_task_path %></li>
          <li class="divider"></li>
          <li><%= link_to "<i class='fa fa-facebook'></i> New Web Presence".html_safe, new_presence_path %></li>
        </ul>
      </li>
      
    </ul>
    
  </nav>
</div>