<!DOCTYPE html>
<html>
<head>
  <title>TeamBuilder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	
	<% if flash[:alert] %>
		<%= flash[:alert] %>
	<% end %>

<%= yield %>

</body>
</html>
