<!DOCTYPE html>
<html>
<head>
  <title>Team Builder by Missional Digerati</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application-all", :media => "all" %>
    <%= stylesheet_link_tag "application-print", :media => "print" %>

    <!--[if lte IE 8]>
        <%= stylesheet_link_tag "application-ie", :media => "all" %>
    <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation' %>	
	<%= render 'layouts/header' %>
	<div class="content">
		<div class="sidebar">
			<%= render 'layouts/sidebar' %>
		</div>
		<div class="mainbar">
			<%= render 'layouts/mainbar' %>
			<%= render 'layouts/flash_alerts' %>
			<%= yield %>
		</div>
		<div class="clearfix"></div>
	<div>
	<footer>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
	            <div class="left">Built by <a href="https://github.com/naysayer">Naysayer</a> for  
	            <a href="http://missionaldigerati.org/">Missional Digerati</a> . &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
	      </div>
	    </div>
	  </div>
	</footer>
	<%= yield(:additional_js) %>
</body>
</html>
